<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
  Вы - исполнитель Задачи
  <a href=<%=h task_url(@task) %>> <%= @task.name%> </a>
  <br>Вашей команде в составе: <%= @users%>
  осталось дней - <%= @days%> на исполнение требований письма.
  <p>
  Срок исполнения: <%= @task.duedate.strftime("%d.%m.%Y") %>!
  <p>
  	Необходимо исполнить ВСЕ требования задачи, занести результат исполнения и изменить статус задачи на "Завершено"
  <p>
  <hr>
  <p>&copy; BP1Step. Каталог процессов и ресурсов</p>
</body>
</html>