-title 'Ресурс ' + @iresource.label
-search "Ресурс" 
%section.hero.is-primary
  .hero-body
    .columns
      .column
        %h2.title
          Ресурс
          -if @iresource.level?
            = link_to @iresource.level, iresources_path(level: "#{@iresource.level}")
          [ #{@iresource.label} ]
      .column.is-1
        %h2.title
          \##{@iresource.id}
    %h2.subtitle
      %p.notice= notice
%section
  .container
    .content
      .columns
        .column
          %h3
            URI:
            %b= @iresource.location
        .column
          -if @iresource.alocation
            %h3
              URL:
              %b= @iresource.alocation
      %h3 Объем: #{@iresource.volume} GB
      %h4 Примечание:
      = @iresource.note
      %h3Группы прав доступа
      .columns
        .column
          %h4 Чтение: #{@iresource.access_read}
        .column
          %h4 Запись: #{@iresource.access_write}
        .column
          %h4 Другие: #{@iresource.access_other}
      %h4
        Категория ресурса:
        %b
        -if @iresource.risk_category?
          = link_to @iresource.risk_category, iresources_path(risk: "#{@iresource.risk_category}")
      %h3
        Владелец:
        -if @iresource.user
          = link_to @iresource.user.displayname, user_path(@iresource.user)

      -if @iresource.bproces.any?
        %h3 Процессы, в которых используется:
        %table
          %tr
            %th Процесс:
            %th Назначение ресурса в процессе
            %th
          -@iresource.bproce_iresources.each do |bproce_iresource|
            %tr
              %td
                = link_to bproce_iresource.bproce.name, bproce_path(bproce_iresource.bproce)
              %td
                -if bproce_iresource.rpurpose.blank?
                  = link_to 'не определено', edit_bproce_iresource_path(bproce_iresource)
                -else
                  = link_to bproce_iresource.rpurpose, bproce_iresource_path(bproce_iresource)
              %td

%hr
.container
  .columns
    .column
      %a.button.is-primary{ href: iresources_path } Back
      - if can? :update, Iresource
        %a.button.is-primary{ href: edit_iresource_path(@iresource) } Edit
    .column
      .info_
        создан
        = @iresource.created_at.strftime('%d.%m.%Y %H:%M:%S')
        %br
        изменен
        = @iresource.updated_at.strftime('%d.%m.%Y %H:%M:%S')
