-title 'Ресурс ' + @iresource.label
.id_
  \#
  = @iresource.id
%h1 Ресурс

%h3
  -if @iresource.level?
    = link_to @iresource.level, iresources_path + '?level=' + @iresource.level.to_s, class: 'groups'
  [
  %b= @iresource.label
  ]:
%h3
  URI:
  %b= @iresource.location
-if @iresource.alocation
  %h3
    URL:
    %b= @iresource.alocation

%h3
  Объем:
  %b= @iresource.volume
  GB
%h3
  Примечание:
  = @iresource.note

%h3
  Группы прав доступа
%h4
  %b Чтение:
  = @iresource.access_read
%h4
  %b Запись:
  = @iresource.access_write
%h4
  %b Другие:
  = @iresource.access_other
%h4
  Категория риска:
  %b
  -if @iresource.risk_category?
    = link_to @iresource.risk_category, iresources_path + '?risk=' + @iresource.risk_category.to_s, class: 'groups'
%h3
  Владелец:
  -if @iresource.user
    = link_to @iresource.user.displayname, user_path(@iresource.user)

-if @iresource.bproces.count > 0
  %h3 Процессы, в которых используется:
  %table
    %tr
      %th Процесс:
      %th Назначение ресурса в процессе
      %th
    -@iresource.bproce_iresources.each do |bproce_iresource|
      %tr
        %td
          = link_to bproce_iresource.bproce.name, bproce_path(bproce_iresource.bproce)
        %td
          -if bproce_iresource.rpurpose.blank?
            = link_to 'не определено', edit_bproce_iresource_path(bproce_iresource)
          -else
            = link_to bproce_iresource.rpurpose, bproce_iresource_path(bproce_iresource)
        %td




%p
-if can? :update, Iresource
  = link_to 'Edit', edit_iresource_path(@iresource), :class => 'button'
= link_to 'Back', iresources_path, :class => 'button'