-title "Документы процесса " + @bproce.shortname
%h2
  Документы процесса
  = link_to @bproce.name, bproce_path(@bproce)

-#= form_tag documents_path, :method => 'get' do
%table
  %tr
    %th 
    %th Наименование
    %th Описание
    -#    %th Имя файла
    -#%th authority
    %th Статус
    %th Дата
    -#%th responsible
    %th Место
    
  - @documents.each do |document|
    %tr
      %td= document.id
      %td= link_to document.name, document_path(document)
      %td= format_content(document.description)
      -#      %td= document.filename
      %td= document.status
      %td= document.approved 
      %td= document.place
