-title "Документы процесса " + @bproce.shortname
%h2
  Документы процесса
  = link_to @bproce.name, bproce_path(@bproce)

-#= form_tag documents_path, :method => 'get' do
%table
  %tr
    %th #
    %th Наименование
    %th Назначение / Описание
    %th Статус
    %th Дата
    
  - @bproce_documents.each do |bproce_document|
    %tr
      %td= bproce_document.document.id
      %td= link_to bproce_document.document.name, document_path(bproce_document.document)
      -#%td= format_content(document.description)
      %td= link_to bproce_document.purpose, edit_bproce_document_path(bproce_document)
      %td= bproce_document.document.status
      %td= bproce_document.document.approved 
