<h1>Список Бизнес-процессов</h1>

<table class="zebra-striped">
  <tr>
    <th>Краткое наименование</th>
    <th>Полное наименование</th>
    <th>Обозначение</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @b_procs.each do |b_proc| %>
  <tr>
    <td><%= b_proc.ptitle %></td>
    <td><%= b_proc.pbody %></td>
    <td><%= b_proc.pcode %></td>
    <td><%= link_to 'Show', b_proc %></td>
    <td><%= link_to 'Edit', edit_b_proc_path(b_proc) %></td>
    <td><%= link_to 'Destroy', b_proc, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'В начало', '/'%> &nbsp;
<%= link_to 'Новый Бизнес-процесс', new_b_proc_path %>

