= simple_form_for(@directive) do |f|
  = f.error_notification
  = f.input :title
  = f.input :body
  = f.input :number
  -if @directive.approval
    = f.input :approval, :as => :string, :input_html => {:class=>'datepicker', :value => @directive.approval.strftime("%d.%m.%Y")}
  -else
    = f.input :approval, :as => :string, :input_html => {:class=>'datepicker'}
  = f.input :name, :as => :text
  = f.input :annotation, :as => :text
  = f.input :note

  - if can? :update, @directive
    = f.button :submit

-if @directive.id?  # для новой директивы еще нет ссылок на документы
  %p
  -if @directive.document.count > 0
    %h4 На основании этой директивы разработаны следующие внутренние документы банка:
    %table
      - @directive.document.each do |document|
        %tr
          %td= link_to document.name, document_path(document)
          -if can? :update, @directive
            %td
              =link_to image_tag('action_stop.gif', :alt => 'Удалить'), @directive.document_directive.find_by_document_id(document), confirm: document.name + "\nДействительно хотите удалить ссылку на документ?", :method => 'delete', class: 'button-img'
  %p
 