-title "Руководящие документы, Директивы, Указания"
-if params[:title].present?
  %h2
    Директивы
    [
    = params[:title]
    ]  
-else
  -if params[:body].present?
    %h2
      Директивы
      [
      = params[:body]
      ]  
  -else
    %h1
      Директивы
      -if params[:search].present?
        [ 
        = params[:search]
        ]
%table
  %tr
    %th= sortable "number", "Номер"
    %th= sortable "approval", "От"
    %th Орган
    %th Наименование
    - if can? :destroy, Directive
      %th

  - @directives.each do |directive|
    %tr
      %td= link_to directive.number, directive
      %td
        -if directive.approval
          = directive.approval.strftime('%d.%m.%Y')
      %td
        = directive.title
        = directive.body
      %td= format_content(directive.name)
      - if can? :destroy, Directive
        %td
          = link_to image_tag('action_stop.gif', :alt => 'Удалить'), directive, confirm: directive.shortname + "\nДействительно хотите удалить?", :method => 'delete', class: 'button-img'

.apple_pagination
  = will_paginate @directives

- if can? :create, Directive
  = link_to "Добавить новую директиву", new_directive_path, :class => 'button'
%p
%br
Тип директивы:
- Directive.group(:title).each do |directive|
  -if directive.title.to_s.empty?
    = link_to 'пусто', directives_path + '?title='
  -else
    = link_to directive.title, directives_path + '?title=' + directive.title.to_s, class: 'groups'
%br
Принявший орган:
- Directive.group(:body).each do |directive|
  -if directive.body.to_s.empty?
    = link_to 'пусто', directives_path + '?body='
  -else
    = link_to directive.body, directives_path + '?body=' + directive.body.to_s, class: 'groups'