-title "Руководящие документы, Директивы, Указания"
-if params[:title].present?
  %h2
    Директивы
    [
    = params[:title]
    ]  
-else
  -if params[:body].present?
    %h2
      Директивы
      [
      = params[:body]
      ]  
  -else
    %h1
      Директивы
      -if params[:search].present?
        [ 
        = params[:search]
        ]
%table
  %tr
    %th= sortable "number", "Номер"
    %th= sortable "approval", "От"
    %th Орган
    %th Наименование
    - if can? :destroy, Directive
      %th

  - @directives.each do |directive|
    %tr
      %td= link_to directive.number, directive
      %td= directive.approval.strftime('%d.%m.%Y')
      %td
        = directive.title
        = directive.body
      %td= directive.name
      - if can? :destroy, Directive
        %td
          = link_to image_tag('action_stop.gif', :alt => 'Удалить'), directive, confirm: directive.shortname + "\nДействительно хотите удалить?", :method => 'delete'


.apple_pagination
  = will_paginate @directives

- if can? :create, Directive
  .button
    = link_to "Добавить новую директиву", new_directive_path
