-title "Руководящие документы, Директивы, Указания"
-search 'Директиву'
%h2= @header
%table
  %tr
    %th= sortable "number", "Номер"
    %th= sortable "approval", "От"
    %th Орган
    %th Наименование
    - if can? :manage, Directive
      %th
    - if can? :destroy, Directive
      %th

  - @directives.each do |directive|
    %tr
      %td= link_to directive.number, directive
      %td
        -if directive.approval
          = directive.approval.strftime('%d.%m.%Y')
      %td
        = directive.title
        = directive.body
      %td= format_content(directive.name)
      - if can? :manage, Directive
        %td
          = link_to image_tag('page_edit.gif', :alt => 'Изменить'), edit_directive_path(directive), class: 'button-img'
      - if can? :destroy, Directive
        %td
          = link_to image_tag('action_stop.gif', :alt => 'Удалить'), directive, data: { confirm: 'Директива "' + directive.shortname + "\"\nДействительно хотите удалить?"}, :method => 'delete', class: 'button-img'

.apple_pagination
  = will_paginate @directives

- if can? :create, Directive
  = link_to "Добавить новую директиву", new_directive_path, :class => 'button'
%p
%br
Тип директивы:
- Directive.select("title, count(id) as count").group(:title).order(:title).each do |directive|
  -if directive.title.to_s.empty?
    = link_to 'пусто', directives_path + '?title='
  -else
    = link_to directive.title, directives_path + '?title=' + directive.title.to_s, class: 'groups'
%br
Принявший орган:
- Directive.select("body, count(id) as count").group(:body).order(:body).each do |directive|
  -if directive.body.to_s.empty?
    = link_to 'пусто', directives_path + '?body='
  -else
    = link_to directive.body, directives_path + '?body=' + directive.body.to_s, class: 'groups'
%br
Статус:
- Directive.select("status, count(id) as count").group(:status).order(:status).each do |d|
  -if !d.status.to_s.empty?
    = link_to d.status, directives_path + '?status=' + d.status.to_s, class: 'groups'
