-title 'Директива ' + @directive.shortname
%h2
  = link_to @directive.title, directives_path + '?title=' + @directive.title, class: 'groups'
  = link_to @directive.body, directives_path + '?body=' + @directive.body, class: 'groups'
  %b
    №
    = @directive.number
    от 
    = @directive.approval.strftime('%d.%m.%Y') if @directive.approval
%h3
  = @directive.name
-if !@directive.note.empty?
  %h4
    примечание:
    = @directive.note
%h4 Краткое содержание:
= @directive.annotation
%p
- if @directive.document_directive.count > 0
  %h4
    На основании этой директивы разработаны следующие
    = link_to "внутренние документы банка:", directive_documents_path(@directive)
  - @directive.document.each do |document|
    %li= link_to document.name, document_path(document)

%p
-if can? :update, @directive
  = link_to 'Edit', edit_directive_path(@directive), :class => 'button'
= link_to 'Back', directives_path, :class => 'button'
