= simple_form_for @contract_scan, :url => update_scan_contract_path, :html => { :multipart => true } do |f|
  = f.error_notification
  = f.hidden_field :contract_id
  = f.input :name
  = f.input :scan, hint: 'Выберите файл для загрузки'

  = f.error :base
  -if can? :update, @contract
    %p
    = f.button :submit, 'Сохранить файл'
