-title @contract.contract_type + " №" + @contract.number
-search "Договор" 
.id_
  \#
  = @contract.id
%h2
  = @contract.contract_type

= render 'form'
= render 'form_bproce_link'
= render 'form_scans'

%p
-#= link_to 'XML', document_path(@document, :format => :xml), :class => 'button'
= link_to 'Show', contract_path(@contract), :class => 'button'
= link_to 'Back', contracts_path, :class => 'button'
