-search "Договор" 
-title "Каталог Договоров"

%h2
  Список договоров
  -if params[:search].present?
    [ 
    = params[:search]
    ]

%table
  %tr
    %th=sortable "id", "#"
    %th= sortable "number", "Номер"
    %th= sortable "date_begin", "От"
    %th= sortable "status", "Статус"
    %th= sortable "agent_id", "Контрагент"
    -if can? :update, Contract
      %th
    -if can? :destroy, Contract
      %th
    
  - @contracts.each do |contract|
    %tr
      %td
        .id_show_
          = "##{contract.id}"
      %td
        = link_to contract.shortname, contract_path(contract)
      %td= contract.date_begin.strftime('%d.%m.%Y') if contract.date_begin
      %td= contract.status
      %td= link_to contract.agent.name, agent_path(contract.agent.id) if contract.agent

      -if can? :update, contract
        %td
          = link_to image_tag('page_edit.gif', :alt => 'Изменить'), edit_contract_path(contract), class: 'button-img'
      -if can? :destroy, contract
        %td
          = link_to image_tag('action_stop.gif', alt: 'Удалить', title: 'Удалить' ), contract, data: { confirm: contract.number.to_s + "\nДействительно хотите удалить договор?" }, :method => 'delete', class: 'button-img'
-if !params[:all].present?
  .apple_pagination
    = will_paginate @contract 
%p
- if can? :create, Contract
  = link_to 'Добавить новый договор', new_contract_path, :class => 'button'
