-search "Договор" 
-title "Каталог Договоров"

%h2 Список договоров

%table
  %tr
    %th=sortable "id", "#"
    %th= sortable "number", "Номер"
    -#%th= sortable "description", "Описание"
    -#    %th Имя файла
    -#%th authority
    %th= sortable "date_begin", "От"
    %th= sortable "status", "Статус"
    %th= sortable "status", "Контрагент"
    -if can? :update, @contracts
      %th
    -if can? :destroy, @contracts
      %th
    
  - @contracts.each do |contract|
    %tr
      %td= contract.id
      %td
        = link_to contract.nnumber, contract_path(contract)
      %td= contract.status
      %td= contract.date_begin.strftime('%d.%m.%Y') if contract.date_begin
      -if can? :update, document
        %td
          = link_to image_tag('page_edit.gif', :alt => 'Изменить'), edit_contract_path(contract), class: 'button-img'
      -if can? :destroy, contract
        %td
          = link_to image_tag('action_stop.gif', alt: 'Удалить', title: 'Удалить' ), contract, data: { confirm: contract.number + "\nДействительно хотите удалить документ?" }, :method => 'delete', class: 'button-img'
-if !params[:all].present?
  .apple_pagination
    = will_paginate @contract 
%p
- if can? :create, Contract
  = link_to 'Добавить новый договор', new_contract_path, :class => 'button'
