-title 'Договор ' + @contract.shortname
-search "Договор"
.id_
  \#
  = @contract.id
%h2
  Договор №
  %b
    =@contract.number
    =@contract.name
  от
  %b=@contract.date_begin.strftime('%d.%m.%Y')
%h3= link_to @contract.agent.name, agent_path(@contract.agent.id) if @contract.agent_id?
%h3
  Статус
  %b= @contract.status
%h3 О чем (краткое описание)
= @contract.description
-#%h3 Краткое содержание
-#= @contract.text
-if !@contract.note.blank?
  %h3 Примечание
  = @contract.note
-if !@contract.condition.blank?
  %h3 Условие окончания/продления
  = @contract.condition
-if !@contract.check.blank?
  %h3 Контроль исполнения
  = @contract.check

%hr
%h3
  Ответственный за договор:
  = link_to @contract.owner_name, user_path(@contract.owner.id) if @contract.owner_id?

%p
- if !@contract.bproce.blank?  # есть ссылки из договора на процессы?
  %h3 
    Процесс:
    - @contract.bproce_contract.each do |bproce_contract|
      = link_to bproce_contract.bproce.name, bproce_path(bproce_contract.bproce)
      -if can? :update, Contract
        = link_to '( ' + bproce_contract.purpose.to_s + ' )', edit_bproce_contract_path(bproce_contract)
      -else
        = '( ' + bproce_contract.purpose.to_s + ' )'

-else
  %h3 Процесс не назначен!


.info_
  создан
  = @contract.created_at.strftime('%d.%m.%Y %H:%M:%S') if @contract.created_at
  %br
  изменен
  = @contract.updated_at.strftime('%d.%m.%Y %H:%M:%S') if @contract.updated_at

%p
- if can? :update, @contract
  = link_to 'Edit', edit_contract_path(@contract), :class => 'button'
= link_to 'Back', contract_path, :class => 'button'
-if @contract.status
  -if @contract.status == 'Проект' or @contract.status == 'Согласование'
    = link_to 'Лист согласования', approval_sheet_contract_path(@contract), :class => 'button' if can? :update, Contract
