= simple_form_for(@task) do |f|
  = f.error_notification
  = f.hidden_field :author_id
  = f.hidden_field :completion_date
  = f.hidden_field :requirement_id
  = f.hidden_field :letter_id
  = f.input :name, as: :text
  = f.input :description, as: :text
  = f.input :duedate, :as => :string, :input_html => {:class=>'datepicker'}
  %br
  = f.label :Статус
  = f.select :status_name, @task_status_enabled.keys
  = f.hidden_field :result
  -if @task.id
    %h3 Результат исполнения:
    = f.input :action, as: :text
    = simple_format(@task.result, {}, {})
  -else
    = simple_format(@task.result, {}, {})

  %p
  = f.button :submit