- title "#{@task.identify}"
- search 'Задачу'
.id_{onclick: "copyToClipboard('#{@task.identify}')"} ##{@task.id}

= render 'form'

%p
= link_to 'Show', @task, class: 'button'
= link_to 'Back', tasks_path, class: 'button'
