= simple_form_for(@metric) do |f|
  = f.error_notification
  = f.input :shortname
  = f.input :name
  = f.input :description, :as => :text
  -if @metric.bproce_id?
    Перейти к процессу
    = link_to @metric.bproce.name, bproce_path(@metric.bproce)
  
  %br
  = f.label 'Процесс'
  = f.autocomplete_field :bproce_name, autocomplete_bproces_path, :id_elements => '#bproce_workplace_bproce_id', :placeholder => 'подстрока в наименовании', :data => { :no_matches_label => '333' }
  = f.error :base

  %p
  -if can? :update, @metric
    = f.button :submit


