-title "Метрики процессов"
-search "Метрику"
%section.hero.is-primary
  .hero-body
    .container
      %h1.title
        = @title_metrics if @title_metrics
        -if params[:search].present?
          [ #{params[:search]} ]
      %h2.subtitle
        Количественные характеристики 
        = link_to 'процессов', bproces_path
        %p.notice= notice
.container
  %table.table.is-striped.is-bordered.is-hoverable.is-fullwidth
    %thead
      %tr
        %th=sortable "name", "Метрика"
        %th=sortable  "bproce_id", "Процесс"
        %th Описание
        %th Глубина
        -if can? :crud, Metric
          %th
          %th
        -if can? :destroy, Metric
          %th

      - @metrics.each do |metric|
        %tr
          %td= link_to metric.shortname, metric
          %td
            = link_to metric.bproce.shortname, bproce_path(metric.bproce_id) + '/metrics' if !metric.bproce.nil?
          %td= truncate(metric.description, :length => 180, :omission => ' ...')
          %td= METRICS_VALUE_DEPTH.key(metric.depth)
          - if can? :crud, metric
            %td= link_to image_tag('page_edit.gif', :alt => 'Изменить'),  edit_metric_path(metric), class: 'button-img'
            %td= link_to image_tag('File-Presentation-icon.png', :alt => 'Значения'),  metric_path(metric) + '/values?', class: 'button-img'
          - if can? :destroy, metric
            %td=link_to image_tag('action_stop.gif', :alt => 'Удалить'), metric, data: { confirm: 'Метрика"' + metric.name + "\"\nДействительно хотите удалить?" }, :method => 'delete', class: 'button-img'
.container
  .apple_pagination
    = will_paginate @metrics

.container
  - if can? :destroy, Metric
    %a.button.is-primary{ href: new_metric_path } Добавить новую Метрику
.container
  .columns
    .column
      Глубина данных:
      - Metric.select("depth, count(id) as count").group(:depth).order(:depth).each do |m|
        -#-if !m.depth.to_s.empty?
        %a.button.is-outlined{ href: metrics_path(depth: m.depth.to_s) } #{METRICS_VALUE_DEPTH.key(m.depth)}
    .column
      Тип:
      - Metric.select("mtype, count(id) as count").group(:mtype).order(:mtype).each do |m|
        - unless m.mtype&.empty?
          %a.button.is-outlined{ href: metrics_path(mtype: m.mtype) } #{m.mtype} - #{m.count}
