-title 'Метрика ' + @metric.name + '. ' + @metric.bproce.shortname if @metric.bproce
-search "Метрику"
.id_
  \#
  =@metric.id
%h2
  [
  =@metric.shortname
  ]
  =@metric.name

-#= link_to 'Год', metric_path({type: :year})     #, remote: true
-#= link_to 'Месяцы года', metric_path({type: :month})   #, remote: true
-#= link_to 'Дни месяца', metric_path({type: :day})     #, remote: true
-#prev_period_date = Date.today - Date.today.day
= link_to "< " + @prev_period_date.strftime('%b %Y'), metric_path({date: @prev_period_date.strftime('%Y-%m-01')}) if @prev_period_date
= link_to @next_period_date.strftime('%b %Y') + ' >', metric_path({date: @next_period_date.strftime('%Y-%m-01')}) if @next_period_date

= render partial: 'graph', locals: {data: @data}

%h3
  -if @metric.bproce
    =link_to 'Метрика', bproce_path(@metric.bproce) + '/metrics' 
  -else
    =link_to 'Метрики', metrics_path
  процесса
  = link_to @metric.bproce.name, bproce_path(@metric.bproce) if @metric.bproce

= @metric.description
-if @metric.note.presence
  %br
  = '[' + @metric.note.to_s + ']'
%br
Глубина данных:
= @metric.depth

.info_
  создан
  = @metric.created_at.strftime('%d.%m.%Y %H:%M:%S') if @metric.created_at
  %br
  изменен
  = @metric.updated_at.strftime('%d.%m.%Y %H:%M:%S') if @metric.updated_at

%p
- if can? :update, @metric
  = link_to 'Edit', edit_metric_path(@metric), :class => 'button'
  = link_to 'Values', metric_path(@metric) + '/values?' + 'date=' + @current_period_date.strftime('%Y-%m-01'), :class => 'button'
= link_to 'Back', metrics_path, :class => 'button'