-title 'Значения метрики ' + @metric.name + '. ' + @metric.bproce.shortname if @metric.bproce
-search "Метрику"
.id_
  \#
  =@metric.id
%h2
  [
  =@metric.shortname
  ]
  =@metric.name

-#= link_to 'Год', metric_path({type: :year})     #, remote: true
-#= link_to 'Месяцы года', metric_path({type: :month})   #, remote: true
-#= link_to 'Дни месяца', metric_path({type: :day})     #, remote: true

%h3
  -if @metric.bproce
    =link_to 'Метрика', bproce_path(@metric.bproce) + '/metrics' 
  -else
    =link_to 'Метрики', metrics_path
  процесса
  = link_to @metric.bproce.name, bproce_path(@metric.bproce) if @metric.bproce

= @metric.description
-if @metric.note.presence
  %br
  = '[' + @metric.note.to_s + ']'
%br
%h3
  Значения метрики за
  -if @metric.depth == 1
    =@current_period_date.strftime('%Y')
  -else
    =@current_period_date.strftime('%b %Y')
- @values.each do |value|
  -begin
    = link_to value.dtime.strftime(@datetime_format), edit_metric_value_path(value.id)
    =value.value
  -rescue
    =value.inspect
  %br

.apple_pagination
  .pagination
    = link_to "&#8592;&nbsp;".html_safe  + @prev_period_date.strftime('%b %Y'), metric_path(@metric) + '/values?' + 'date=' + @prev_period_date.strftime('%Y-%m-01'), :class => 'previous_page' if @prev_period_date
    = link_to @next_period_date.strftime('%b %Y').html_safe + "&nbsp;&#8594;".html_safe ,  metric_path(@metric) + '/values?' + 'date=' + @next_period_date.strftime('%Y-%m-01'), :class => 'next_page' if @next_period_date

%p
= link_to 'Show', @metric, :class => 'button'
= link_to "Добавить новое значение Метрики" , metric_path(@metric) + '/new_value', :class => 'button'
= link_to 'Back', bproce_path(@metric.bproce) + '/metrics', :class => 'button'

