-title 'Значения метрики ' + @metric.name + '. ' + @metric.bproce.shortname if @metric.bproce
-search "Метрику"
.id_
  \#
  =@metric.id
%h2
  [
  =@metric.shortname
  ]
  =@metric.name

-#= link_to 'Год', metric_path({type: :year})     #, remote: true
-#= link_to 'Месяцы года', metric_path({type: :month})   #, remote: true
-#= link_to 'Дни месяца', metric_path({type: :day})     #, remote: true

%h3
  -if @metric.bproce
    =link_to 'Метрика', bproce_path(@metric.bproce) + '/metrics' 
  -else
    =link_to 'Метрики', metrics_path
  процесса
  =link_to @metric.bproce.name, bproce_path(@metric.bproce) if @metric.bproce

=@metric.description
-if @metric.note.presence
  %br
  = '[' + @metric.note.to_s + ']'
%br
-if @metric.depth <= 2
  = render 'values_by_month'
-else
  = render 'values_by_day'

%p
= link_to 'Show', @metric, :class => 'button'
= link_to "Добавить новое значение Метрики" , metric_path(@metric) + '/new_value', :class => 'button'
= link_to 'Back', bproce_path(@metric.bproce) + '/metrics', :class => 'button'

