-title "#{@requirement.identify}"
-search 'Требование'
.id_{onclick: "copyToClipboard('#{@requirement.identify}')"} ##{@requirement.id}

%h2 Изменить требование
= render 'form'
= render 'user'

%p
= link_to 'Show', @requirement, :class => 'button'
= link_to 'Back', requirement_path, :class => 'button'