-title 'Термин ' + @term.name
%h2
  = @term.name
  (
  %b
    = @term.shortname
  )
%h3 Определение:
= @term.description
%h4 Примечание:
= @term.note
%h4 Источник:
= @term.source

%p
- if can? :update, Term
  .button
    = link_to 'Edit', edit_term_path(@term)
.button
  = link_to 'Back', terms_path
