-title 'Термин ' + @term.name
-search 'Термин'
%section.hero.is-primary
  .hero-body
    .columns
      .column
        %h2.title
          #{@term.name} - #{@term.shortname}
      .column.is-1
        %h2.title
          \##{@term.id}
    %h2.subtitle
      %p.notice= notice
%section
  .container
    .content
      %h3 Определение:
      = @term.description
      %h4 Примечание:
      = @term.note
      %h4 Источник:
      = @term.source
.container
  .columns
    .column
      %a.button.is-primary{ href: terms_path } Back
      - if can? :update, Term
        %a.button.is-primary{ href: edit_term_path(@term) } Edit
    .column
      .info_
        создан
        = @term.created_at.strftime('%d.%m.%Y %H:%M:%S')
        %br
        изменен
        = @term.updated_at.strftime('%d.%m.%Y %H:%M:%S')
