= form_for(@bapp) do |f|
  -if @bapp.errors.any?
    #error_explanation
      %h2 "#{pluralize(@bproce.errors.count, "error")} prohibited from being saved:"
      %ul
        -@bapp.errors.full_messages.each do |msg|
          %li =msg

  .fieldset
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :type
      .text
      = f.text_field :type
    .field
      = f.label :description
      .text
      = f.text_field :description
    .field
      = f.label :purpose
      .text
      = f.text_area :purpose
    .field
      -#= f.label :bproce_id
        = f.collection_select :bproce_id, Bproce.all(:order => "name"), :id, :name, :include_blank => true
  -# не показывать для нового приложения связанные с ним процессы - их еще нет
  -if @bapp.id?
    %table
      %tr
        %th Это Приложение используется в Процессах:
      %tr
        %td
          -@bapp.bproce.each do |bp|
            = link_to bp.name, edit_bproce_path(bp)
            %br
    .field
      -#= f.label :bproce_id
      -#= f.collection_select :bproce.bproce_id, @bapp.bproce.all(:order => "name"), :id, :name, :include_blank => true

  %p
  .actions
    = f.submit
