= simple_form_for(@bapp) do |f|
  = f.error_notification
  = f.input :name
  = f.input :apptype
  = f.input :description, :as => :text
  = f.input :purpose, :as => :text
  = f.error :base
  - if can? :update, @bapp
    = f.button :submit
  %p
  %p
-# не показывать для нового приложения связанные с ним процессы - их еще нет
-if @bapp.id?
  %table
    %tr
      %th Это Приложение используется в Процессах:
      %th Назначение в процессе
      %th
    -@bapp.bproce_bapps.each do |bp|
      %tr
        %td
          = link_to bp.bproce.name, bproce_path(bp.bproce_id)
        %td
          = bp.apurpose
        %td
          - if can? :update, @bapp
            = link_to 'Destroy', bp, :confirm => 'Are you sure?', :method => :delete
  = simple_form_for(@bproce_bapp) do |ff|
    = ff.error_notification
    = ff.association :bproce, :label => 'Процесс', :hint => 'Выберите процесс'
    = ff.hidden_field :bapp_id
    = ff.input :apurpose, :hint => 'Укажите назначение приложения в выбранном процессе'
    = ff.error :base
    = ff.button :submit, 'Связать с процессом'
-#=debug params
-#=debug @bproce_bapp