<%= form_for(@bapp) do |f| %>
  <% if @bapp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bapp.errors.count, "error") %> prohibited this bapp from being saved:</h2>

      <ul>
      <% @bapp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :purpose %><br />
    <%= f.text_area :purpose %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
