= form_for(@bapp) do |f|
  -if @bapp.errors.any?
    #error_explanation
      %h2 "#{pluralize(@bproce.errors.count, "error")} prohibited from being saved:"
      %ul
        -@bapp.errors.full_messages.each do |msg|
          %li =msg

  .fieldset
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :type
      = f.text_field :type
    .field
      = f.label :description
      = f.text_field :description
    .field
      = f.label :purpose
      = f.text_area :purpose
  -# не показывать для нового приложения связанные с ним процессы - их еще нет
  -if @bapp.id?
    %table
      %tr
        %th Это Приложение используется в Процессах:
      %tr
        %td
          -@bapp.bproces.each do |bp|
            = link_to bp.name, edit_bproce_path(bp)
            %br
  .actions
    = f.submit

= form_for(@bproce_bapp) do |ff|
  .fieldset
    .field
    -#= ff.label :bproce_id
    = ff.collection_select :bproce_id, Bproce.all(:order => "name"), :id, :name, :include_blank => true
    .field
      = ff.text_field :bapp_id, :hidden=>true

  .action
    = ff.submit

=debug params
=debug @bproce_bapp
