<h1>Listing bapps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bapps.each do |bapp| %>
  <tr>
    <td><%= bapp.name %></td>
    <td><%= bapp.type %></td>
    <td><%= bapp.description %></td>
    <td><%= link_to 'Show', bapp %></td>
    <td><%= link_to 'Edit', edit_bapp_path(bapp) %></td>
    <td><%= link_to 'Destroy', bapp, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bapp', new_bapp_path %>
