-title "Каталог Приложений"
-if @bproce == nil
  %h1
    Каталог Приложений
    -if params[:search].present?
      [ 
      = params[:search]
      ]
-else
  %h1
    Приложения процесса
    -#= @bproce.name
%table
  %tr
    %th= sortable "name", "Наименование"
    %th= sortable "description", "Описание"
    - if can? :destroy, Bapp
      %th
  
  -@bapps.each do |bapp|
    %tr
      %td= link_to bapp.name, bapp
      %td= bapp.description
      - if can? :destroy, bapp
        %td
          = link_to image_tag('action_stop.gif', :alt => 'Удалить'), bapp, confirm: bapp.name + "\nДействительно хотите удалить?", :method => 'delete'

-if !params[:all].present?
  .apple_pagination
    = will_paginate @bapps 

- if can? :destroy, Bapp
  .button
    = link_to 'Каталог', bapps_path + '.pdf?all=1'
  .button
    = link_to 'ODT', bapps_path + '.pdf'
  .button
    = link_to "Добавить новое приложение" , new_bapp_path

%p
%br
Тип:
- Bapp.group(:apptype).each do |bapp|
  -if bapp.apptype.to_s.empty?
    = link_to 'пусто', bapps_path + '?apptype='
  -else
    = link_to bapp.apptype, bapps_path + '?apptype=' + bapp.apptype.to_s