-title "Каталог Приложений"
-if @bproce = nil
  %h1 Каталог Приложений
-else
  %h1
    Приложения процесса
    -#= @bproce.name
%table
  %tr
    %th= sortable "username", "Наименование"
    %th= sortable "description", "Описание"
    - if can? :destroy, Bapp
      %th
  
  -@bapps.each do |bapp|
    %tr
      %td= link_to bapp.name, bapp
      %td= bapp.description
      - if can? :destroy, bapp
        %td
          = link_to 'Destroy', bapp, :confirm => 'Are you sure?', :method => :delete

.apple_pagination
  = will_paginate @bapps 

- if can? :destroy, Bapp
  .button
    = link_to 'Каталог', bapps_path + '.pdf?all=1'
  .button
    = link_to 'ODT', bapps_path + '.pdf'
  .button
    = link_to "Добавить новое приложение" , new_bapp_path
