-title "Каталог Приложений"
%h1 Каталог Приложений

%table
  %tr
    %th= sortable "username", "Наименование"
    %th= sortable "description", "Описание"
    - if can? :destroy, Bapp
      %th
  
  -@bapps.each do |bapp|
    %tr
      - if can? :modify, bapp
        %td= link_to bapp.name, edit_bapp_path(bapp)
      - else
        %td= link_to bapp.name, bapp
      %td= bapp.description
      - if can? :destroy, bapp
        %td
          = link_to 'Destroy', bapp, :confirm => 'Are you sure?', :method => :delete

.apple_pagination
  = will_paginate @bapps 

- if can? :destroy, Bapp
  .button
    = link_to "Добавить новое приложение" , new_bapp_path
