%h2
  = @bapp.name 
%h3 Описание
= @bapp.description
= @bapp.apptype
%h3
  Участвует в процессе
-if @bapp.id?
  %table
    %tr
      %th Это Приложение используется в Процессах:
      %th Назначение в процессе
      %th
    -@bapp.bproce_bapps.each do |bp|
      %tr
        %td
          = link_to bp.bproce.name, edit_bproce_path(bp.bproce_id)
        %td
          = bp.apurpose
        %td
%p
- if can? :update, @bapp
  .button
    = link_to 'Edit', edit_bapp_path(@bapp) |

.button
  = link_to 'Back', bapps_path
