%h2
  = @bapp.name
%h4
  Тип приложения:
  = @bapp.apptype
%h4
  Описание:
  = @bapp.description
%h4
  Назначение:
  = @bapp.purpose
%h3
  Участвует в процессе

-if @bapp.id? # новая запись еще нигде не используется
  %table
    %tr
      %th Процесс:
      %th Назначение в процессе
      %th
    -@bapp.bproce_bapps.each do |bp|
      %tr
        %td
          = link_to bp.bproce.name, bproce_path(bp.bproce_id)
        %td
          = bp.apurpose
        %td
%p
- if can? :update, @bapp
  .button
    = link_to 'Edit', edit_bapp_path(@bapp) |

.button
  = link_to 'Back', bapps_path
