-title 'Приложение ' + @bapp.name
%h2
  = @bapp.name
-if not @bapp.apptype.blank?
  %h4
    Тип приложения:
    = @bapp.apptype
%h4
  Описание:
  = @bapp.description
%h4
  Назначение:
  -if @bapp.purpose.blank?
    не определено
  -else
    = @bapp.purpose

-if @bapp.version_app
  Версия
  = @bapp.version_app
= @bapp.directory_app
= @bapp.distribution_app
= @bapp.executable_file
= @bapp.licence
= @bapp.source_app
= @bapp.note

%h3
  Участвует в процессах:

-if @bapp.id? # новая запись еще нигде не используется
  %table
    %tr
      %th Процесс:
      %th Назначение приложения в процессе
      %th
    -@bapp.bproce_bapps.each do |bp|
      %tr
        %td
          = link_to bp.bproce.name, bproce_path(bp.bproce_id)
        %td
          -if bp.apurpose.blank?
            = link_to 'не определено', edit_bproce_bapp_path(bp)
          -else
            = link_to bp.apurpose, bproce_bapp_path(bp)
        %td
%p
- if can? :update, @bapp
  .button
    = link_to 'Edit', edit_bapp_path(@bapp) |

.button
  = link_to 'Back', bapps_path
