%h2Документы
-# Список/дерево документов для выбора
.span-6
  #list
    - @documents.each do |document|
      %li
        =link_to document.name, documentco_path(document)

    .apple_pagination
      = will_paginate @documents 
 
    -#= link_to 'Добавить новый документ', new_document_path 

-# Информация о выбранном документе
.span-18
%p
  %b Наименование:
  = @document.name
%p
  %b Описание:
  = @document.description
%p
  %b Filename:
  = @document.filename
%p
  %b Status:
  = @document.status
%p
  %b Part:
  = @document.part
%p
  %b Approved:
  = @document.approved
%p
  %b Place:
  = @document.place


-# сброс
.span-24
