= simple_form_for @user_business_role, :url => update_user_business_role_path, :html => { :multipart => true } do |ubr|
  = ubr.error_notification
  = ubr.hidden_field :business_role_id
  
  = ubr.label 'Новый Исполнитель'
  = ubr.autocomplete_field :user_name, autocomplete_users_path
  
  = ubr.input :date_from, :as => :string, :input_html =>{:class=>'datepicker', :value => Date.today.strftime("%d.%m.%Y")}
  = ubr.input :date_to, :as => :string, :input_html =>{:class=>'datepicker', :value => Date.today.change(:month => 12, :day => 31).strftime("%d.%m.%Y")}
  = ubr.input :note
  = ubr.error :base
  -if can? :update, @business_role
    = ubr.button :submit, 'Добавить Исполнителя'