= simple_form_for(@business_role) do |f|
  = f.error_notification
  = f.input :name
  = f.input :description, :as => :text
  = f.association :bproce, :label => 'Участвует в процессе', :include_blank => false
  -if current_user.role? :admin
    = f.input :features, :as => :text
  = f.error :base
  -if can? :update, @business_role
    = f.button :submit
-if @business_role.bproce_id?
  Перейти к процессу
  = link_to @business_role.bproce.name, bproce_path(@business_role.bproce)
-#=debug params
  =debug @bproce
  =debug @business_role


