-title "Роль"
-search "Роль"
.id_
  \#
  =@business_role.id
%h1 Роль
= render 'form'
%p
%table
  %tr
    %th Исполнители
    %th период
    %th примечание
    %th
  - @business_role.user_business_role.each do |user_business_role|
    %tr
      %td= link_to user_business_role.user.displayname, user_business_role.user
      %td
        = user_business_role.date_from
        \-
        = user_business_role.date_to
      %td= user_business_role.note
      - if can? :destroy, @business_role
        %td
          = link_to image_tag('action_stop.gif', :alt => 'Удалить'), user_business_role, data: { confirm: user_business_role.business_role.name + "\nДействительно хотите удалить?" }, :method => 'delete', class: 'button-img'

= render 'user_business_roles/form'

%p
= link_to 'Show', @business_role, :class => 'button'
= link_to 'Back', business_roles_path, :class => 'button'
