-title "Каталог Ролей"
%h1
  Каталог Ролей
  -if params[:search].present?
    [ 
    = params[:search]
    ]

%table
  %tr
    %th= sortable "name", "Роль"
    %th= sortable "bproce_id", "Процесс"
    %th= sortable "description", "Назначение"
    %th Исполнитель
    -if can? :manage, BusinessRole
      %th
    -if can? :destroy, BusinessRole
      %th

  -@broles.each do |ro|
    %tr
      %td= link_to ro.name, ro
      %td
        = link_to ro.bproce.shortname, bproce_path(ro.bproce_id) if !ro.bproce.nil?
      %td= truncate(ro.description, :length => 120, :omission => ' ...')
      -if ro.users.first
        %td
          = link_to ro.users.first.displayname, ro.users.first
          -if ro.users.count > 1
            +
            = ro.users.count - 1
      -else
        %td
      - if can? :manage, ro
        %td= link_to image_tag('page_edit.gif', :alt => 'Изменить'),  edit_business_role_path(ro)
      - if can? :destroy, ro
        %td=link_to image_tag('action_stop.gif', :alt => 'Удалить'), ro, confirm: ro.name + "\nДействительно хотите удалить?", :method => 'delete'


.apple_pagination
  -#.page_info
    -#    = page_entries_info @business_roles
  = will_paginate @broles 

- if can? :destroy, BusinessRole
  .button
    = link_to 'Каталог', business_roles_path + '.odt?all=1'
  .button
    = link_to 'ODT', business_roles_path + '.odt'
  .button
    = link_to "Добавить новую роль" , new_business_role_path
