-title "Каталог Ролей"
%h1 Каталог Ролей

%table
  %tr
    %th= sortable "name", "Роль"
    %th= sortable "bproce_id", "Процесс"
    %th= sortable "description", "Назначение"
    - if can? :destroy, BusinessRole
      %th

  -@business_roles.each do |ro|
    %tr
      - if can? :update, ro
        %td= link_to ro.name, edit_business_role_path(ro)
      - else
        %td= link_to ro.name, ro
      %td
        = link_to ro.bproce.name, edit_bproce_path(ro.bproce_id) if !ro.bproce.nil?
      %td= ro.description
      - if can? :destroy, ro
        %td
          = link_to 'Destroy', ro, :confirm => 'Are you sure?', :method => :delete

.apple_pagination
  -#.page_info
    -#    = page_entries_info @business_roles
  = will_paginate @business_roles 

- if can? :destroy, BusinessRole
  .button
    = link_to "Добавить новую роль" , new_business_role_path
