-title "Каталог Ролей"
-search "Роль"
%section.hero.is-primary
  .hero-body
    .container
      %h1.title
        Каталог Ролей
        -if params[:search].present?
          [ #{params[:search]} ]
      %h2.subtitle
        Бизнес-роли в 
        = link_to 'процессах', bproces_path
        %p.notice= notice

.container
  %table.table.is-striped.is-bordered.is-hoverable.is-fullwidth
    %thead
      %tr
        %th= sortable "name", "Роль"
        %th= sortable "bproce_id", "Процесс"
        %th= sortable "description", "Действия роли в процессе"
        %th Исполнитель
        -if can? :manage, BusinessRole
          %th
        -if can? :destroy, BusinessRole
          %th

      -@business_roles.each do |ro|
        %tr
          %td
            = link_to ro.name, ro
            .id_show_
              = "##{ro.id}"

          %td
            = link_to ro.bproce.shortname, bproce_path(ro.bproce_id) if !ro.bproce.nil?
          %td= truncate(ro.description, :length => 120, :omission => ' ...')

          -if ro.users.count > 0
            %td
              - user_count = 0
              - ro.users.order(:lastname).each do | user |
                -user_count = user_count + 1
                -if user_count < 8
                  = link_to user.displayname, user
                -else
                  \+
          -else
            %td
          - if can? :manage, ro
            %td= link_to image_tag('page_edit.gif', :alt => 'Изменить'),  edit_business_role_path(ro), class: 'button-img'
          - if can? :destroy, ro
            %td=link_to image_tag('action_stop.gif', :alt => 'Удалить'), ro, data: { confirm: 'Роль"' + ro.name + "\"\nДействительно хотите удалить?" }, :method => 'delete', class: 'button-img'
.container
  - if @business_roles.any?
    .apple_pagination
      = will_paginate @business_roles 
.container
  - if can? :destroy, BusinessRole
    %a.button.is-primary{ href: business_roles_path + '.odt?all=1' } Каталог
    -if request.query_string
      %a.button.is-primary{ href: business_roles_path + '.odt?' + request.query_string } Список
    -else
      %a.button.is-primary{ href: business_roles_path + '.odt' } Список
    %a.button.is-primary{ href: new_business_role_path } Добавить новую роль
