-title "Каталог Ролей"
%h1 Каталог Ролей

%table
  %tr
    %th= sortable "name", "Роль"
    %th= sortable "bproce_id", "Процесс"
    %th= sortable "description", "Назначение"
    - if can? :destroy, BusinessRole
      %th

  -@broles.each do |ro|
    %tr
      %td= link_to ro.name, ro
      %td
        = link_to ro.bproce.shortname, bproce_path(ro.bproce_id) if !ro.bproce.nil?
      %td= ro.description
      - if can? :destroy, ro
        %td
          = link_to 'Destroy', ro, :confirm => 'Are you sure?', :method => :delete

.apple_pagination
  -#.page_info
    -#    = page_entries_info @business_roles
  = will_paginate @broles 

- if can? :destroy, BusinessRole
  .button
    = link_to 'Каталог', business_roles_path + '.odt?all=1'
  .button
    = link_to 'ODT', business_roles_path + '.odt'
  .button
    = link_to "Добавить новую роль" , new_business_role_path
