-title 'Роль ' + @business_role.name + '. ' + @business_role.bproce.shortname if @business_role.bproce
-search "Роль"
.id_
  \#
  =@business_role.id
%h2
  [
  =@business_role.name
  ]
%h3
  в процессе
  = link_to @business_role.bproce.name, bproce_path(@business_role.bproce) if @business_role.bproce
%h3 Назначение
= @business_role.description

-if !current_user.nil?
  -if current_user.role? :admin
    %h3 Особенности настройки:
    = @business_role.features

%h3
  Исполнители роли
  =@business_role.name
  \:
%table
  %tr
    %th ФИО
    %th Период
    %th Основание
    %th Процесс
  - @business_role.user_business_role.each do |business_role|
    %tr
      -if business_role.user
        %td{style: ('text-decoration: line-through;' if !business_role.user.active)} 
          = link_to business_role.user.displayname, business_role.user
      -else
        %td
          удалить ссылку
          = business_role.inspect
      %td
        = business_role.date_from.strftime("%d.%m.%Y")
        \-
        = business_role.date_to.strftime("%d.%m.%Y")
      -if can? :update, @business_role
        %td= link_to ' ' + business_role.note, edit_user_business_role_path(business_role)
      -else
        %td=business_role.note
      %td= link_to Bproce.find(business_role.business_role.bproce).shortname, bproce_path(business_role.business_role.bproce)
.info_
  создан
  = @business_role.created_at.strftime('%d.%m.%Y %H:%M:%S') if @business_role.created_at
  %br
  изменен
  = @business_role.updated_at.strftime('%d.%m.%Y %H:%M:%S') if @business_role.updated_at

%p
- if can? :update, @business_role
  = link_to 'Edit', edit_business_role_path(@business_role), :class => 'button'
= link_to 'Back', business_roles_path, :class => 'button'
