- if @usr.roles.count > 0
  %h2
    Исполняет роли:
  %table
    %tr
      %th Роль
      %th В процессе
      %th Период
      %th Основание
    - @uroles.each do |business_role|
      %tr
        %td= link_to business_role.business_role.name, business_role_path(business_role.business_role)
        %td= link_to Bproce.find(business_role.business_role.bproce).name, bproce_path(business_role.business_role.bproce)
        %td
          = business_role.date_from.strftime("%d.%m.%Y")
          \-
          = business_role.date_to.strftime("%d.%m.%Y")
        %td= business_role.note
