-title @usr.displayname + ' роли доступа'
-search 'Человека'
%h1 
  %b
    = @usr.displayname
  = @usr.position  


права доступа
-if can? :assign_roles, @usr
  assign_role
-if can? :manage, @usr
  manage

-if can? :read, :all
  read all

-if can? :manage, [Bproce, BusinessRole, Document]
  manage, [Bproce, BusinessRole, Document]

%h4
  = @usr.department
  |
  = @usr.office
  |
  = mail_to @usr.email, @usr.email, :subject => "BP1Step:"
  |
  = @usr.phone
  |

%h4Назначены роли доступа:
%table
  - @usr.roles.each do |role|
    %tr
      -# %td= ":#{role.name.to_sym}"
      %td= role.description
      %td= role.note
      %td= link_to image_tag('action_stop.gif', alt: 'Удалить'),
                    user_role_path(role, user_id: @usr.id),
                    data: { confirm: "Удалить роль доступа #{role.description} у #{@usr.displayname} ?" },
                    method: 'delete',
                    class: 'button-img'

%h4
  Добавить роли доступа:
  - Role.all.each do |role| 
    - unless @usr.role? role.name.to_sym
      = link_to role.description, user_roles_path(@usr) + "?role=#{role.id}", method: :post if can? :manage, @usr

%h2Удаление или Перенос Бизнес ролей другому пользователю
%h4
  Является исполнителем 
  = link_to "#{@usr.business_roles.count} бизнес-ролей", uroles_user_path(@usr) + '?layout=yes'

- if @usr.business_roles.any?
  - if current_user.role? :admin
    #move_to
      = link_to 'Указать нового Исполнителя ролей', move_to_user_path(@usr), remote: true
      %p= link_to 'Прекратить исполнение всех ролей',
                stop_all_user_path(@usr),
                data: { confirm: "Прекратить исполнение всех ролей сотрудником #{@usr.displayname} ?" }

%p
= link_to 'Show', @usr, :class => 'button'
= link_to 'Back', users_path, :class => 'button'