-title "Список сотрудников"
%h1
  Список сотрудников
  -if params[:role].present?
    [
    = @role.description
    ]
  -else
    -if params[:search].present?
      [ 
      = params[:search]
      ]
    -else
      -if params[:office].present?
        [
        =params[:office]
        ]

%table
  %tr
    %th= sortable "displayname", "ФИО"
    %th= sortable "email", "Почта"
    %th= sortable "phone", "Телефон"
    %th Должность
    %th= sortable "office", "Офис"
    -if can? :manage, @users.first
      %th Login (ip)
      %th Last login
    - if can? :destroy, @users.first
      %th Роли доступа
  

  -@users.each do |user|
    %tr
      %td
        -if can? :show, user
          = link_to user.displayname, user
        -else
          = user.displayname
      %td= mail_to user.email, user.email, :subject => "BP1Step"
      %td= user.phone
      %td= user.position
      -if user.office
        %td= link_to user.office, users_path + '?office=' + user.office
      -else
        %td
      -if can? :manage, user
        %td
          = user.current_sign_in_at.to_s(:ru_datetime)
          (
          = user.current_sign_in_ip
          )
        %td= user.last_sign_in_at.to_s(:ru_datetime)
      - if can? :destroy, user
        %td
          -user.roles.each do |role|
            = role.description

.apple_pagination
  = will_paginate @users 

