%h1 
  = @usr.displayname
  = @usr.position  
%p
= @usr.email
= @usr.department
= @usr.office
= @usr.phone

%h2 Рабочие места
%table
  %tr
    %thРабочее место
    %thНазначение в процессе
    %thОписание
    %th

  -@uworkplaces.each do |user_workplace|
    %tr
      %td= link_to user_workplace.workplace.designation, edit_workplace_path(user_workplace.workplace)
      %td= user_workplace.workplace.location
      %td= user_workplace.workplace.name
      %td= user_workplace.note
      %td= user_workplace.date_from
      %td= user_workplace.date_to

%h2
  = @usr.displayname
  исполняет роли
%table
  %tr
    %th Роль
    %th с
    %th по
  - @uroles.each do |ur|
    %tr
      %td= ur.note
      %td= ur.date_from
      %td= ur.date_to

= link_to 'Back', users_path
