-title 'Сотрудник ' + @usr.displayname
-search 'Человека'
%h1{style: ('text-decoration: line-through;' if !@usr.active)} 
  %b
    = @usr.lastname
  = @usr.firstname
  = @usr.middlename.to_s + ','
  = @usr.position

  .round-image-50
    = link_to image_tag(@usr.avatar.url(:mini)), avatar_create_user_path(@usr), :remote => true

-if user_signed_in?
  -if current_user.id == @usr.id
    -if @usr.avatar.file?
      #update_file
        = link_to 'Удалить фото', avatar_delete_user_path(@usr)
    -else
      #update_file
        = link_to 'Заменить фото', avatar_create_user_path(@usr), :remote => true

.container
  .tabs.is-boxed.is-right
    %ul
      %Li.is-active{"data-tab" => "action"}
        %a{href: execute_user_path(@usr)} К исполнению
      %li{"data-tab" => "roles"}
        %a{href: uroles_user_path(@usr)} Роли
      %Li{"data-tab" => "processes"}
        %a{href: processes_user_path(@usr)} Процессы
      %li{"data-tab" => "documents"}
        %a{href: documents_user_path(@usr)} Документы
      %li{"data-tab" => "contracts"}
        %a{href: contracts_user_path(@usr)} Договоры
      %li{"data-tab" => "resources"}
        %a{href: resources_user_path(@usr)} Ресурсы
      %li{"data-tab" => "profile"}
        %a{href: uworkplaces_user_path(@usr)} Общее

.container  
  -if can? :assign_roles, User
    %a.button.is-primary{ href: edit_user_path(@usr) } Edit
  %a.button.is-primary{ href: users_path } Back
  -if can? :update, Bproce
    %a.button.is-link{ href: order_user_path(@usr) } Распоряжение
    %a.button.is-link{ href: pass_user_path(@usr) } Пропуск
