%h1 
  = @usr.displayname
  = @usr.position  
%h4
  = @usr.position
  |
  = @usr.department
  |
  = @usr.office
  |
  = mail_to @usr.email, @usr.email, :subject => "BP1Step:"
  |
  = @usr.phone
  |
  - if @usr.roles.count > 0
    %b роли доступа:
    - @usr.roles.each do |role|
      = role.name

%h2 Рабочие места:
%table
  %tr
    %th Рабочее место
    %th Расположение
    %th Описание
    %th
    %th

  -@uworkplaces.each do |user_workplace|
    %tr
      %td= link_to user_workplace.workplace.designation, edit_workplace_path(user_workplace.workplace)
      %td= user_workplace.workplace.location
      %td= user_workplace.workplace.name
      %td= user_workplace.note
      %td= user_workplace.date_from
      %td= user_workplace.date_to

%h2
  = @usr.displayname
  исполняет роли:
%table
  %tr
    %th Роль
    %th
    %th с
    %th по
  - @uroles.each do |business_role|
    %tr
      %td= link_to business_role.business_role.name, edit_business_role_path(business_role.business_role)
      %td= business_role.note
      %td= business_role.date_from
      %td= business_role.date_to

.button
  = link_to 'Back', users_path
