-title 'Сотрудник ' + @usr.displayname
%h1 
  %b
    = @usr.displayname
  = @usr.position  
%h4
  = @usr.department
  |
  = @usr.office
  |
  = mail_to @usr.email, @usr.email, :subject => "BP1Step:"
  |
  = @usr.phone
  |
  -if @usr.roles.count
    %b роли доступа:
    - @usr.roles.each do |role|
      -if current_user
        -if current_user.role? :admin
          = link_to role.description, users_path + '?role=' + role.name
        -else
          = role.description
        \/

%h2 Рабочие места:
%table
  %tr
    %th Рабочее место
    %th Расположение
    %th Описание
    %th
    %th

  -@uworkplaces.each do |user_workplace|
    %tr
      %td= link_to user_workplace.workplace.designation, workplace_path(user_workplace.workplace)
      %td= user_workplace.workplace.location
      %td= user_workplace.workplace.name
      %td= user_workplace.note
      %td
        -if user_workplace.date_from
          = user_workplace.date_from.strftime("%d.%m.%Y")
        -if user_workplace.date_to
          \-
          = user_workplace.date_to.strftime("%d.%m.%Y")

- if @usr.bproce.count > 0
  %h3 Владелец процессов:
  - @usr.bproce.each do |bproce|
    = link_to bproce.name, bproce_path(bproce)
- if @usr.roles.count > 0
  %h2
    = @usr.displayname
    исполняет роли:
  %table
    %tr
      %th Роль
      %th Период
      %th Основание
      %th Процесс
    - @uroles.each do |business_role|
      %tr
        %td= link_to business_role.business_role.name, business_role_path(business_role.business_role)
        %td
          = business_role.date_from.strftime("%d.%m.%Y")
          \-
          = business_role.date_to.strftime("%d.%m.%Y")
        %td= business_role.note
        %td= link_to Bproce.find(business_role.business_role.bproce).shortname, bproce_path(business_role.business_role.bproce)

- if @documents.count > 0
  %h3
    = @usr.displayname
    отвечает за внутренние документы банка:
  - @documents.each do |doc|
    %li= link_to doc.name, document_path(doc)
%p
-if current_user != nil
  -if current_user.role? :admin
    .button
      = link_to 'Edit', edit_user_path(@usr)
.button
  = link_to 'Back', users_path
