%h2
  Рабочие места процесса
  = link_to @bp.name, bproce_path(@bp)

%table
  %tr
    %thОбозначение
    %thНаименование
    %thОписание
    %th Исполнитель
    %th Тип?
    %thМестоположение
    -#%th
    
  - @workplaces.each do |workplace|
    %tr
      %td= link_to workplace.designation, workplace_path(workplace)
      %td= workplace.name
      %td= workplace.description
      -if workplace.users.first
        %td
          = link_to workplace.users.first.displayname, workplace.users.first
          -if workplace.users.count > 1
            +
            = workplace.users.count - 1
      -else
        %td
      %td= workplace.typical
      %td= workplace.location
      -#%td= link_to 'Удалить', workplace, confirm: 'Действительно хотите удалить?', :method => :delete 

