%h1 Бизнес-процессы: Первый шаг
%p
Чтобы получить доступ, Вам необходимо
= link_to "войти", new_user_session_path
в приложение.
%hr
%h3
  = link_to "Процессы:", bproces_path
  = Bproce.count
%h3
  = link_to "Роли:", business_roles_path
  = BusinessRole.count
%h3
  = link_to "Рабочие места:", workplaces_path
  = Workplace.count
%h3
  = link_to "Приложения:", bapps_path
  = Bapp.count
%h3
  = link_to "Документы:", documents_path
  = Document.count
%h3
  = link_to "Сотрудники:", users_path
  = User.count

%p
