- if user_signed_in?
  %h1
    = current_user.displayname
  %h4
    = current_user.position
    |
    = current_user.email
    |
    = current_user.phone
    |
    - if current_user.roles.count > 0
      %b роли доступа:
      - current_user.roles.each do |role|
        = role.name
  %table
    %tr
      %th Рабочее место
      %th Расположение
      %th Описание
      %th Основание
      %th
    -current_user.user_workplace.each do |user_workplace|
      %tr
        %td= link_to user_workplace.workplace.designation, workplace_path(user_workplace.workplace)
        %td= user_workplace.workplace.location
        %td= user_workplace.workplace.name
        %td= user_workplace.note
        %td
          = user_workplace.date_from
          = user_workplace.date_to
  %table
    %tr
      %th Исполняет роли:
      %th
      %th с
      %th по
      %th в процессе
    - current_user.user_business_role.each do |business_role|
      %tr
        %td= link_to business_role.business_role.name, edit_business_role_path(business_role.business_role)
        %td= business_role.note
        %td= business_role.date_from
        %td= business_role.date_to
        %td= link_to Bproce.find(business_role.business_role.bproce).shortname, bproce_path(business_role.business_role.bproce)

- else
  %h1 Бизнес-процессы: Первый шаг

%p
%hr
%h3
  = link_to "Процессы:", bproces_path
  = Bproce.count
%h3
  = link_to "Роли:", business_roles_path
  = BusinessRole.count
%h3
  = link_to "Рабочие места:", workplaces_path
  = Workplace.count
%h3
  = link_to "Приложения:", bapps_path
  = Bapp.count
%h3
  = link_to "Документы:", documents_path
  = Document.count
%h3
  = link_to "Сотрудники:", users_path
  = User.count

%p
