%h1 Бизнес-процессы: Первый шаг

- if user_signed_in?
  %h3
    = current_user.displayname

%h3
  = link_to "Процессы:", bproces_path
  = Bproce.count
%h3
  = link_to "Роли", roles_path
  = Role.count
%h3
  = link_to "Рабочие места", workplaces_path
  = Workplace.count
%h3
  = link_to "Приложения", bapps_path
  = Bapp.count
%h3
  = link_to "Документы", documents_path
  = Document.count
%h3
  = link_to "Сотрудники", users_path
  = User.count

%p
