<%= @user.displayname %>

<a href=<%=h user_url(@user) %>> <%= @user.displayname%> </a>
Отсутствует файл для документа <a href= <%=h document_url(@doc) %>>#<%= @doc.id.to_s %></a> - <%= @doc.name.to_s %>

Пожалуйста, загрузите файл документа или измените уровень документа на 4 - Свидетельства деятельности.

--
  bp1step.