= simple_form_for(@agent) do |f|
  = f.error_notification
  = f.input :shortname
  = f.input :name, :as => :text
  = f.input :inn
  = f.input :town
  = f.input :address, :as => :text
  = f.input :contacts
  = f.input :note
  = f.input :dms_name
  = f.label 'Ответственный за оплату'
  = f.hidden_field :responsible_id
  = f.autocomplete_field :responsible_name, autocomplete_users_path

  %p
  -if can? :update, @agent
    = f.button :submit