= simple_form_for(@agent) do |f|
  = f.error_notification
  = f.input :shortname
  = f.input :name
  = f.input :town
  = f.input :address
  = f.input :contacts

  %p
  -if can? :update, @agent
    = f.button :submit