- title "Распоряжение по договору № #{@order.contract_number} от #{@order.contract_date.strftime('%d.%m.%Y')}"
- search 'Распоряжение'
.id_ ##{@order.id}

%h2
  #{@order.order_type} от #{@order.created_at.strftime('%d.%m.%Y %H:%m')}
%h2
  Договор № #{@order.contract_number} от #{@order.contract_date}
%h3
  - unless @order.codpred == 1
    [#{@order.codpred}]
  %b #{@order.client_name}
%h3
  Автор:
  %b=@order.author.displayname
  -if @order.status == 'Новое'
    .right
      Статус:
      %b= @order.status
- if @order.manager
  %h3
    Согласовал:
    %b=@order.manager.displayname
    -if @order.status == 'Согласовано'
      .right
        Статус:
        %b= @order.status
- if @order.executor
  %h3
    Исполнил:
    %b=@order.executor.displayname
    -if @order.status == 'Исполнено'
      .right
        Статус:
        %b= @order.status

%h3
  Смотреть:
  -# = image_tag @order.order.preview(resize_to_limit: [100, 100]) if @order.order.attached?
  = link_to @order.attachment.filename, rails_blob_path(@order.attachment, disposition: :inline) if @order.attachment.attached?
%h3Ваши действия:
= simple_form_for(@order) do |f|
  = f.error_notification
  = f.hidden_field :author_id
  - process_id = Rails.configuration.x.dms.process_ko
  - unless (current_user.executor_of? process_id, 'Контролер')
    = f.input :action, as: :text, label: 'Можете добавить комментарий:'
    - if @order.status == 'Новое' && (current_user.executor_of? process_id, 'Руководитель')
      = f.button :submit, 'Согласовать'
    - if @order.status == 'Согласовано' && (current_user.executor_of? process_id, 'Исполнитель')
      = f.button :submit, 'Подтвердить исполнение'
    = f.button :submit, 'Комментировать'


%h3 Результат исполнения:
= simple_format(@order.result, {}, {})
%hr

.info_
  - process = Bproce.find(Rails.configuration.x.dms.process_ko)
  = link_to process.name, process

%p
= link_to 'Back', orders_path, class: 'button'
- if (current_user.id == @order.author_id) && (@order.status == 'Новое')
  = link_to 'Удалить!', @order,
              data: { confirm: "#{@order.order_type} от #{@order.created_at.strftime('%d.%m.%Y %H:%m')}\nДействительно хотите удалить распоряжение ##{@order.id} ?\n\nВосстановление не возможно!" },
              method: :delete,
              class: 'button'

- if can? :update, @order
  = link_to 'Edit', edit_order_path(@order), class: 'button'

