- title "Распоряжение по договору № #{@order.contract_number} от #{@order.contract_date.strftime('%d.%m.%Y')}"
- search 'Распоряжение'
.id_ ##{@order.id}

%h2
  #{@order.order_type} от 
  = link_to " #{@order.created_at.strftime('%d.%m.%Y %H:%m')} ", orders_path(date: @order.created_at.strftime('%Y-%m-%d'))

  
%h2
  Договор № #{@order.contract_number} от #{@order.contract_date}
%h3
  - unless @order.codpred == 1
    [#{@order.codpred}]
  %b #{@order.client_name}
%h3
  Автор:
  %b=@order.author.displayname
  -if @order.status == 'Новое'
    -if order_policy.able_to_delete?(current_user, @order)
      = link_to 'Удалить!', @order,
              data: { confirm: "#{@order.order_type} от #{@order.created_at.strftime('%d.%m.%Y %H:%m')}\nДействительно хотите удалить распоряжение ##{@order.id} ?\n\nВосстановление не возможно!" },
              method: :delete
    .right
      Статус:
      %b= @order.status
- if @order.manager
  %h3
    Согласовал:
    %b=@order.manager.displayname
    -if @order.status == 'Согласовано'
      - if order_policy.able_back_from_approved?(current_user, @order)
        = link_to 'отменить согласование', back_from_approved_order_path(@order)
      .right
        Статус:
        %b= @order.status
- if @order.executor
  %h3
    Исполнил:
    %b=@order.executor.displayname
    -if @order.status == 'Исполнено'
      - if order_policy.able_back_from_completed?(current_user, @order)
        = link_to 'отменить исполнение!', back_from_completed_order_path(@order)
      .right
        Статус:
        %b= @order.status
%h3
  Смотреть:
  -# = image_tag @order.order.preview(resize_to_limit: [100, 100]) if @order.order.attached?
  = link_to @order.attachment.filename, rails_blob_path(@order.attachment, disposition: :inline) if @order.attachment.attached?
= simple_form_for(@order) do |f|
  %h3
    Ваши действия:
    .right= f.button :submit, 'Согласовать', class: :button if order_policy.able_to_approve?(current_user, @order)
    .right= f.button :submit, 'Подтвердить исполнение', class: :button if order_policy.able_to_complete?(current_user, @order)

  = f.error_notification
  = f.hidden_field :author_id
  - unless (current_user.executor_of? order_policy.process_id, 'Контролер')
    = f.input :action, as: :text, label: 'Можете добавить комментарий:'
    = f.button :submit, 'Комментировать'


%h3 Результат исполнения:
= simple_format(@order.result, {}, {})
%hr

.info_
  - process = Bproce.find(Rails.configuration.x.dms.process_ko)
  = link_to process.name, process

%p
= link_to 'Вернуться', orders_path, class: 'button'

