%h1 Бизнес-процессы: Первый шаг

Процессов #{Bproce.count}
Ролей #{BusinessRole.count}
Рабочих мест #{Workplace.count}
Приложений #{Bapp.count}
Документов #{Document.count}
-if can? :show, User.first
  Пользователей #{User.count}
-if can? :manage, User.first
  =link_to "Действий", activities_path
  #{PublicActivity::Activity.count}

%h2 Легенда
=link_to "Процесс", bproces_path
описывается 
= link_to "Документами", documents_path
%br
=link_to "Документ", documents_path
всегда относится к одному конкретному 
=link_to "Процессу", bproces_path
%br
При выделении
=link_to "Процесса", bproces_path
ему назначается уникальное название, определяется цель, выделяются
=link_to "Роли", business_roles_path
исполнителей в процессе, определяются ресурсы (например, 
=link_to "Приложения", bapps_path
=link_to "Рабочие места", workplaces_path
=link_to "Инф.ресурсы", iresources_path
)
%p
=link_to "Роль", business_roles_path
всегда относится к одному конкретному 
=link_to "Процессу", bproces_path
Обозначение
=link_to "Роли", business_roles_path
может быть не уникально, но в одном
=link_to "Процессе", bproces_path
нельзя использовать одинаковые
=link_to "Роли", business_roles_path
%p
=link_to "Приложение", bapps_path
может использоваться в нескольких
=link_to "Процессах", bproces_path
, но в каждом оно имеет определенное назначение

%p
=link_to "Исполнитель", users_path
участвует в 
= link_to "Процессе", bproces_path
и исполняет назначенные ему
= link_to "Роли", business_roles_path

=link_to "Исполнитель", users_path
находится на
= link_to "Рабочем месте", workplaces_path
и использует в своей работе 
=link_to "Приложения", bapps_path

%h2 Соглашение о наименованиях
Обозначения сущностей (Роль, РабочееМесто, Приложение) всегда даются в так называемой ВерблюжьейНотации (CamelNotation) - все слова с прописной буквы слитно, это позволит в будущем автоматически выделять в тексте такие сущности и подставлять ссылки.

%h3 Объем доступа задается ролями доступа
%table
  %tr
    %th Роль доступа
    %th Краткое описание
  - Role.order(:description).all.each do |r|
    %tr
      %td
        -if current_user and current_user.role? :admin
          = link_to r.description, users_path + '?role=' + r.name
        -else
          = r.description
      %td
        -case r.description
        -when 'Администратор'
          Ведение списков рабочих мест и приложений, настройка системы
        -when 'Администратор доступа'
          Ведение прав пользователей, настройка системы
        -when 'Бизнес-аналитик'
          Ведение списка процессов, документов, ролей, рабочих мест, приложений
        -when 'Владелец процесса'
          Ведение документов, ролей, приложений, рабочих мест процесса, назначение исполнителей на роли
        -when 'Исполнитель'
          Просмотр информации по исполняемым ролям, участию в процессах, комментирование документов процесса
        -when 'Писатель'
          Ведение документов и директив
        -when 'Хранитель'
          Отвечает за хранение бумажных оригиналов, изменяет место хранения документа
        -else
          %td ?
У пользователя может быть несколько ролей доступа.

%p
