-if @document.id? # ну какие ссылки на директивы для нового документа
  %p
  -if @document.directive.count > 0
    %h4 Документ разработан на основании следующих директив:
    %table
      - @document.directive.each do |directive|
        %tr
          %td= link_to directive.shortname, directive_path(directive)
          -if can? :update, @document
            %td
              =link_to image_tag('action_stop.gif', :alt => 'Удалить'), @document.document_directive.find_by_directive_id(directive), confirm: directive.name + "\nДействительно хотите удалить связь с директивой?", :method => 'delete', class: 'button-img'

= simple_form_for(@document_directive) do |dd|
  = dd.error_notification
  = dd.hidden_field :document_id
  -#= dd.input :directive_name, data: {autocomplete_source: autocomplete_directives_path}, :as => :autocomplete, :label => 'Добавить Директиву'
  = dd.input :directive_id, :collection => Directive.order(:title, :number).all, :include_blank => true, :prompt => 'Добавить Директиву', :label_method => :shortname
  = dd.error :base
  -if can? :update, @document
    = dd.button :submit, 'Добавить Директиву'