= simple_form_for(@document) do |f|
  = f.error_notification
  = f.input :name
  = f.input :dlevel, :collection => 1..4, :as => :radio_buttons, :hint => 'Политики, Стратегии(1) - Положения, Описания(2) - Регламенты, Инструкции(3) - Свидетельства: Акты, Протоколы, Журналы(4)'
  -#= f.input :dlevel, :collection => %w[1Политики 2Положения 3Регламенты 4Свидетельства], :as => :radio_buttons, :hint => 'Уровень документа: Политики - Положения - Регламенты - Свидетельства'
  = f.input :description, :as => :text
  
  = f.input :owner_name, data: {autocomplete_source: autocomplete_users_path}, :as => :autocomplete, :label => 'Ответственный за документ'
  
  -#= f.association :status_id, Category.all
  = f.input :status, :collection => %w[Утвержден Проект Согласование НеДействует], :prompt => 'Статус документа', :input_html => { :value => 'Утвержден'}
  = f.input :approveorgan, :collection => %w[ПредседательПравления Правление СоветДиректоров ОбщееСобрание], :prompt => 'Уполномоченный орган'
  -if @document.approved
    = f.input :approved, :as => :string, :input_html =>{:class=>'datepicker', :value => @document.approved.strftime("%d.%m.%Y")}
  -else
    = f.input :approved, :as => :string, :input_html =>{:class=>'datepicker'}
  = f.input :part, :collection => 1..14, :as => :radio_buttons, :prompt => 'Раздел Документооборота', :hint => 'выберите раздел документооборота'
  %p
  = f.input :place, :hint => 'Место хранения оригиналов на бумаге (кратко: отдел, папка)'
  = f.input :eplace, :as => :text, :hint => 'Место хранения электронного документа (полный путь к файлу в папке //cluster/docs/)'
  -#= f.input :uploaded_file, :as => :file, :hint => 'Место хранения электронного документа'  # нет в полученном объекте информации о полном пути - только имя файла и ссылка на /tmp
  -# покажем список процессов, отсортированный по наименованиям
  = f.association :bproce, :collection => Bproce.all(:order => 'name'), :label => 'Процесс', :hint => 'Выберите Процесс, к которому относится документ', :prompt => 'Процесс документа'
  -# не показывать для нового процесса связанные с ним объекты - их еще нет
  -if @document.bproce
    Перейти к процессу
    = link_to @document.bproce.name, edit_bproce_path(@document.bproce)
  = f.error :base

  -if can? :update, @document
    %p
    = f.button :submit

-#= @document_directives.inspect
-#= @document.directive
-if @document.id? # ну какие ссылки на директивы для нового документа
  %p
  -if @document.directive.count > 0
    %h4 Документ разработан на основании следующих директив:
    %table
      - @document.directive.each do |directive|
        %tr
          %td= link_to directive.shortname, directive_path(directive)
          -if can? :update, @document
            %td
              =link_to image_tag('action_stop.gif', :alt => 'Удалить'), @document.document_directive.find_by_directive_id(directive), confirm: directive.name + "\nДействительно хотите удалить директиву?", :method => 'delete'
 
-#=debug params
  -#=debug @document
