= form_for(@document) do |f|
  -if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg

  .fieldset
    .field
      = f.label "Наименование"
      .text
        = f.text_field :name
    .field
      = f.label 'Описание'
      .text_area
        = f.text_area :description, :size => "5x4"
    .field
      = f.label 'Имя файла'
      .text
        = f.text_field :filename
    .field
      = f.label 'Статус документа'
      .text
        = f.text_field :status
    .field
      = f.label :status_id, "Choose your status:"
      .text
        = f.collection_select :status_id, Category.all(:order => "sortorder"), :id, :cat_name, :include_blank => true
    .field
      = f.label 'Раздел'
      .text
        = f.text_field :part
    .field
      = f.label 'Дата'
      .text
        = f.text_field :approved
    .field
      = f.label 'Место хранения'
      .text
        = f.text_field :place

  .actions
    = f.submit 'Сохранить'
