%p
- if @document_bproces
  %h3 Относится к следующим процессам:
  - @document_bproces.each do |bproce_document|
    = link_to bproce_document.bproce.name, bproce_path(bproce_document.bproce)
    (
    = bproce_document.purpose
    )
    -if can? :update, @document
      %td
        =link_to image_tag('action_stop.gif', :alt => 'Удалить'), bproce_document, data: { confirm: bproce_document.purpose.to_s + "\n" + bproce_document.bproce.name + "\nДействительно хотите удалить связь с процессом?" }, :method => 'delete', class: 'button-img'


= simple_form_for(@document_bproce) do |bp|
  = bp.error_notification
  = bp.hidden_field :document_id
  -#= dd.input :directive_name, data: {autocomplete_source: autocomplete_directives_path}, :as => :autocomplete, :label => 'Добавить Директиву'
  -#= bp.input :directive_id, :collection => Directive.order(:title, :number).all, :include_blank => true, :prompt => 'Добавить Директиву', :label_method => :shortname
  = bp.association :bproce, :collection => Bproce.all(:order => 'name'), :label => 'Процесс', :hint => 'Выберите Процесс, к которому относится часть документа', :prompt => 'Дополнительный Процесс документа'
  = bp.input :purpose
  = bp.error :base
  -if can? :update, @document
    = bp.button :submit, 'Добавить Процесс'