-if @document.id? # ну какие ссылки на директивы для нового документа
  %h3 Относится к следующим процессам:
  - @document.bproce_document.each do |bproce_document|
    - if bproce_document.bproce_id
      = link_to bproce_document.bproce.name, bproce_path(bproce_document.bproce)
      (
      = bproce_document.purpose
      )
      -if can? :update, @document
        =link_to image_tag('action_stop.gif', :alt => 'Удалить'), bproce_document, data: { confirm: bproce_document.bproce.name + "\nДействительно хотите удалить документ из этого процесса?" }, :method => 'delete', class: 'button-img' if bproce_document.bproce

- if @document_bproce
  = simple_form_for(@document_bproce) do |bp|
    = bp.error_notification
    = bp.hidden_field :document_id
    = bp.hidden_field :bproce_id
    = bp.label 'Процесс'
    = bp.autocomplete_field :bproce_name, autocomplete_bproces_path, :id_elements => '#bproce_id', :placeholder => 'подстрока в наименовании', :data => { :no_matches_label => '333' }
    = bp.input :purpose
    %p
    = bp.error :base
    -if can? :update, @document
      = bp.button :submit, 'Добавить Процесс'
