= simple_form_for(@document) do |f|
  = f.error_notification
  = f.input :name
  = f.input :description, :as => :text
  -#.field
    -#= f.label 'Имя файла'
    -#      -form_for @document do |ff|
    -#        =ff.file_field :document
  -#= f.association :status, Category.all
  = f.input :approved
  = f.input :part, :collection => 1..11, as: :radio_buttons
  = f.input :place
  = f.association :bproce, :label => 'Процесс'
  = f.error :base
  = f.button :submit
