= simple_form_for(@document, :html => {:class => 'form-horizontal' }) do |f|
  = f.error_notification
  = f.input :name
  = f.input :dlevel, :collection => 1..4, :as => :radio_buttons, :hint => 'Уровень документа: Политики - Положения - Регламенты - Свидетельства'
  = f.input :description, :as => :text
  -#.field
    -#= f.label 'Имя файла'
    -#      -form_for @document do |ff|
    =f.file_field :filename, :size => 200
  -#= f.association :status_id, Category.all
  = f.input :status, :collection => %w[Проект Согласование Утвержден], :promp => 'Статус документа'
  =#= f.input :approveorgan, :collection => %w[СоветДиректоров Правление ПредседательПравления]
  = f.input :approved, :as => :string, :order => [:day, :month, :year], :discard_day => true
  = f.input :part, :collection => 1..11, :prompt => "Раздел Документооборота"
  %p
  = f.input :place, :hint => 'Место хранения оригиналов на бумаге'
  = f.input :eplace, :as => :file, :hint => 'Место хранения электронного документа'
  = f.association :bproce, :label => 'Процесс', :hint => 'Выберите Процесс, к которому относится документ'
  Перейти к процессу
  = link_to @document.bproce.name, edit_bproce_path(@document.bproce)
  = f.error :base
  - if can? :update, @document
    = f.button :submit
-#=debug params
-#=debug @document
