-title "Документ " + truncate(@document.name, length: 30)
-search 'Документ'
.id_
  \#
  = @document.id
%h2= @document.name
%h3 Описание:
- text = add_link_from_id(@document.description, 'documents')
= markdown(text)
%h3
  -if @document.status
    ='"' + @document.status + '"'
  -if @document.approveorgan
    %b= @document.approveorgan
  -if @document.approved
    от
    %b= @document.approved.strftime('%d.%m.%Y')
%h3
  уровень документа:
  %b= link_to "#{@document.dlevel}: #{DOCUMENT_LEVEL.key(@document.dlevel)}", documents_path(dlevel: @document.dlevel.to_s), class: 'groups'

= render 'show_bproce_link'

%p
%h3
  Ответственный за документ:
  -if @document.owner_id?
    = link_to @document.owner_name, user_path(@document.owner_id)
  -else
    %b
    не задан

%h3 Примечание:
= raw add_link_from_id(@document.note, 'documents')

= render 'show_directive'

%p
%h3
  Место хранения оригинала:
  %b= link_to @document.place, documents_path(place: @document.place), class: 'groups', title: DOCUMENT_PLACE.key(@document.place) if !@document.place.blank?

#delete_file
  = render 'file_show'


- if can? :edit_document, @document
  #show_files
    = link_to 'Сохраненные файлы', show_files_document_path(@document), :remote => true   #, class: 'button'

%p
-if can? :view_document, @document
  #add_favorite
    -if @user_documents.any?
      В Избранном:
      - @user_documents.each do |user_document|
        = link_to user_document.user.displayname, user_path(user_document.user_id, :anchor => 'Documents') if user_document.user
      %br
    -if @user_document&.document_id == @document.id
      = link_to 'Удалить из Избранного', user_document_path, :method => :delete
    -else
      = link_to 'Добавить в Избранное', add_favorite_document_path(@document)
      = link_to 'Добавить в Обязательное', add_to_favorite_document_path(@document), :remote => true if current_user.role? :manager

%p
Теги документа:
= raw @document.tags.map { |t| link_to t, tag_documents_path(t.name), class: 'tags' }.join('&nbsp; ')

= render 'activities/info_activity', track_type: 'Document', track_item: @document

%p
-if can? :update, @document
  = link_to 'Edit', edit_document_path(@document), :class => 'button'
= link_to 'Back', :back, :class => 'button'
-if @document.status
  -if @document.status == 'Проект' or @document.status == 'Согласование'
    = link_to 'Лист согласования', approval_sheet_document_path(@document), :class => 'button' if can? :update, Document
-if can? :clone, @document
  = link_to 'Clone', clone_document_path(@document), :class => 'button'
-if can? :destroy, @document
  = link_to 'Удалить', @document, data: { confirm: @document.name + "\nДействительно хотите удалить документ #" + @document.id.to_s + " ?" }, :method => 'delete', class: 'button'
