-title "Внутренний документ банка"
.id_
  \#
  = @document.id
%h1 Документ

= render 'form'
= render 'form_directive'
%p
= link_to 'XML', document_path(@document, :format => :xml), :class => 'button'
= link_to 'Show', document_path(@document), :class => 'button'
= link_to 'Back', documents_path, :class => 'button'


