-title "Внутренний документ банка"
%h1 Документ

= render 'form'
= render 'form_directive'

.button
  = link_to 'XML', document_path(@document, :format => :xml)
.button
  = link_to 'Show', document_path(@document)
.button
  = link_to 'Back', documents_path


