-if @directive.blank?
  -title "Каталог Документов"
  -if params[:place].present?
    %h2
      Список Документов, хранящихся в
      [
      = params[:place]
      ]
  -else
    -if params[:dlevel]
      %h2
        = params[:dlevel]
        \:
        =dlevel_title(@documents.first.dlevel)
    -else
      -if params[:part]
        %h2
          Список Документов раздела
          = params[:part]
      -else
        -if params[:status]
          %h2
            Список Документов в статусе
            = params[:status]
        -else
          -if params[:user]
            %h2
              Документы владельца
              = link_to @user.displayname, user_path(@user)
          -else
            %h1
              Каталог Документов
              -if params[:search].present?
                [ 
                = params[:search]
                ]
              -else
                -if params[:tag].present?
                  %sup
                    = params[:tag]
-else
  -title "Список внутренних документов банка"
  %h2
    Список Документов, разработанных на основании 
    =link_to @directive.number, directive_path(@directive)

%table
  %tr
    %th=sortable "id", "#"
    %th= sortable "name", "Наименование"
    -#%th= sortable "description", "Описание"
    -#    %th Имя файла
    -#%th authority
    %th= sortable "status", "Статус"
    %th= sortable "approved", "От"
    %th Оригинал
    -#%th responsible
    -if can? :destroy, Document
      %th
    
  - @documents.each do |document|
    %tr
      %td= document.id
      %td
        -if document.document_file_file_name  #  если есть файл документа, загруженный через paperclip
          -if can? :view_document, document
            - if File.exist?(document.pdf_path)
              = link_to image_tag('action_go.gif', alt: 'См.', title: 'Смотреть'), document.pdf_url, class: 'button-img'
        -else
          -if !document.file_name.nil?    # если есть ссылка на документ в старом формате
            -if can? :view_document, document
              -if File.exist?("files/" + document.file_name) && !document.file_name.empty?
                = link_to image_tag('ico_text.gif', alt: 'См.', title: 'Смотреть'), document_path(document)+'.pdf'
        = link_to format_content(document.name), document_path(document)
        -if can? :manage_tag, document
          %sup= document.tag_list

      -#      %td= document.filename
      %td= document.status
      %td= document.approved.strftime('%d.%m.%Y') if document.approved
      %td= document.place 
      %td
        - if can? :destroy, document
          = link_to image_tag('action_stop.gif', alt: 'Удалить', title: 'Удалить' ), document, data: { confirm: document.name + "\nДействительно хотите удалить документ?" }, :method => 'delete', class: 'button-img'
-if !params[:all].present?
  .apple_pagination
    = will_paginate @documents 
%p
- if can? :create, Document
  = link_to 'Каталог', documents_path(@document)+'.odt?all=1', :class => 'button'
  -if request.query_string
    = link_to 'Список', documents_path(@document) + '.odt?' + request.query_string, :class => 'button'
  -else
    = link_to 'Список', documents_path(@document) + '.odt', :class => 'button'
  = link_to 'Добавить новый документ', new_document_path, :class => 'button'
%p
%br
Статус:
- Document.group(:status).each do |d|
  -if !d.status.to_s.empty?
    = link_to d.status, documents_path + '?status=' + d.status.to_s, class: 'groups'
%br
Уровень:
- Document.group(:dlevel).each do |d|
  -if !d.dlevel.to_s.empty?
    = link_to d.dlevel, documents_path + '?dlevel=' + d.dlevel.to_s, class: 'groups', title: dlevel_title(d.dlevel)
%br
Оригинал:
- Document.group(:place).each do |d|
  -if !d.place.to_s.empty?
    = link_to d.place, documents_path + '?place=' + d.place.to_s, class: 'groups', title: place_title(d.place)
%p
Теги:
= raw Document.all_tags.map { |t| link_to t.name, tag_documents_path(t.name), class: 'tags' }.join('&nbsp; ')