%h1Каталог Документов

%table
  %tr
    %th 
    %th Наименование
    %th Описание
    -#    %th Имя файла
    %th Статус
    %th Дата
    %th Место
    %th
    
  - @documents.each do |document|
    %tr
      %td= document.part
      %td= link_to document.name, edit_document_path(document)
      %td= document.description
      -#      %td= document.filename
      %td= document.status
      %td= document.approved 
      %td= document.place 
      %td= link_to 'Удалить', document, confirm: 'Действительно хотите удалить?', :method => :delete 

= will_paginate @documents 
 
= link_to 'Новый документ', new_document_path 
