-if @directive.blank?
  -title "Каталог Документов"
  -if params[:place].present?
    %h2
      Список Документов, хранящихся в
      [
      = params[:place]
      ]
  -else
    %h1
      Каталог Документов
      -if params[:search].present?
        [ 
        = params[:search]
        ]
-else
  -title "Список внутренних документов банка"
  %h2
    Список Документов, разработанных на основании 
    =link_to @directive.number, directive_path(@directive)

%table
  %tr
    %th 
    %th= sortable "name", "Наименование"
    -#%th= sortable "description", "Описание"
    -#    %th Имя файла
    -#%th authority
    %th= sortable "status", "Статус"
    %th= sortable "approved", "От"
    %th Оригинал
    -#%th responsible
    - if can? :destroy, Document
      %th
    
  - @documents.each do |document|
    %tr
      %td= document.part
      %td= link_to document.name, document_path(document)
      -#      %td= document.filename
      %td= document.status
      %td= document.approved.strftime('%d.%m.%Y') if document.approved
      %td= document.place 
      - if can? :destroy, document
        %td
          = link_to 'Удалить', document, confirm: 'Действительно хотите удалить?', :method => :delete 

.apple_pagination
  = will_paginate @documents 
 
- if can? :create, Document
  .button
    = link_to 'Каталог', documents_path(@document)+'.odt?all=1'
  .button
    = link_to 'ODT', documents_path(@document)+'.odt'
  .button
    = link_to 'Добавить новый документ', new_document_path 
