-title "Документ " + truncate(@document.name, length: 30)
-search 'Документ'
.id_
  \#
  = @document.id
%h2= @document.name 
%h3 Описание:
= @document.description
%h3
  -if @document.status
    ='"' + @document.status + '"'
  -if @document.approveorgan
    %b= @document.approveorgan
  -if @document.approved
    от
    %b= @document.approved.strftime('%d.%m.%Y')
%h3
  уровень документа:
  %b= link_to @document.dlevel.to_s + ': ' + dlevel_title(@document.dlevel), documents_path + '?dlevel=' + @document.dlevel.to_s, class: 'groups'

- if !@document.bproce.blank?  # есть ссылки из документа на другие процессы?
  %h3 Относится к следующим процессам:
  - @document.bproce_document.each do |bproce_document|
    = link_to bproce_document.bproce.name, bproce_path(bproce_document.bproce)
    (
    = bproce_document.purpose
    )
-else
  %h3 Процесс не назначен!

%p
%h3
  Ответственный за документ:
  -if @document.owner_id?
    = link_to @document.owner_name, user_path(@document.owner_id)
  -else
    %b
    не задан

%h3 Примечание:
= @document.note

%hr
-if @document.directive.count > 0
  %h4 Документ разработан на основе следующих руководящих документов:
  - @document.directive.each do |directive|
    = link_to directive.shortname, directive_path(directive)
    %br

%h3 Место хранения
%h4
  оригинал:
  %b= link_to @document.place, documents_path + '?place=' + @document.place, class: 'groups', title: place_title(@document.place) if !@document.place.blank?

%h4
  Электронный документ:
  -if @document.document_file_file_name
    %b
      =@document.document_file_file_name
    %br
    размер:
    =@document.document_file_file_size
    | загружен:
    =@document.document_file_updated_at.strftime('%d.%m.%Y %H:%M:%S')
    | MD5:
    =@document.document_file_fingerprint

    -# автору документа показать все файлы документа

    -# автору документа разрешить взять исходник
    -# кому можно - смотреть PDF

    - if can? :view_document, @document
      %br
      - if File.exist?(@document.document_file.path)  # есть исходный файл документа
        - if File.exist?(@document.pdf_path)  # есть PDF для просмотра
          смотреть:
          = link_to image_tag('action_go.gif', :alt => 'См.', title: 'Смотреть' ), @document.pdf_url, class: 'button-img'
        \|
        - if can? :edit_document, @document
          взять на редактирование:
          = link_to image_tag('ico_text.gif', alt: 'См.', title: 'Загрузить'), @document.document_file.url, class: 'button-img'

      - else
        файл отсутствует - 
        %b
          = @document.document_file_file_name

Теги документа:
= raw @document.tags.map { |t| link_to t, tag_documents_path(t.name), class: 'tags' }.join('&nbsp; ')

.info_
  создан
  = @document.created_at.strftime('%d.%m.%Y %H:%M:%S')
  %br
  изменен
  = @document.updated_at.strftime('%d.%m.%Y %H:%M:%S')

%p
-if can? :update, Document
  = link_to 'Edit', edit_document_path(@document), :class => 'button'
= link_to 'Back', :back, :class => 'button'