-title "Документ " + truncate(@document.name, length: 30)
%h2= @document.name 
%h3 Описание:
= @document.description
%h3
  -if @document.status
    ='"' + @document.status + '"'
  -if @document.approveorgan
    %b= @document.approveorgan
  -if @document.approved
    от
    %b= @document.approved.strftime('%d.%m.%Y')
%h3
  уровень документа:
  %b= link_to @document.dlevel, documents_path + '?dlevel=' + @document.dlevel.to_s, class: 'groups'
  раздел документооборота:
  %b= link_to @document.part, documents_path + '?part=' + @document.part.to_s, class: 'groups'

-if @document.bproce
  %h3
    Относится к процессу:
    = link_to @document.bproce.name, bproce_path(@document.bproce)
-else
  %h3 Процесс не назначен
%p
%h3
  Ответственный за документ:
  -if @document.owner_id?
    = link_to @document.owner_name, user_path(@document.owner_id)
  -else
    %b
    не задан

-#= @document.inspect
%hr
-if @document.directive.count > 0
  %h4 Документ разработан на основе следующих руководящих документов:
  - @document.directive.each do |directive|
    = link_to directive.shortname, directive_path(directive)
    %br

%h3 Место хранения
%h4
  оригинал:
  %b= link_to @document.place, documents_path + '?place=' + @document.place, class: 'groups'

%h4
  Электронный документ:
  -if @document.document_file_file_name
    %b
      =@document.document_file_file_name
    %br
    размер:
    =@document.document_file_file_size
    | загружен:
    =@document.document_file_updated_at.strftime('%d.%m.%Y %H:%M:%S')
    | MD5:
    =@document.document_file_fingerprint
    - if can? :view_document, @document
      %br
      - if File.exist?(@document.document_file.path)
        смотреть:
        = link_to image_tag('action_go.gif', :alt => 'См.'), @document.document_file.url, class: 'button-img'
        редактировать:
        удалить:
      - else
        файл отсутствует - 
        = @document.document_file.path

  -else #оставим для совместимости с предыдущей схемой хранения документов
    файл не загружен
    -if !@document.file_name.nil?
      -if can? :view_document, @document
        -if File.exist?("files/" + @document.file_name) && !@document.file_name.empty?
          есть старая информация - 
          = link_to image_tag('ico_text.gif', :alt => 'См.'), document_path(@document)+'.pdf'

%p
-if can? :update, Document
  = link_to 'Edit', edit_document_path(@document), :class => 'button'
= link_to 'Back', :back, :class => 'button'