-title "Внутренний документ банка"
%h2
  = @document.name 
%h3 Описание
= @document.description
%h3
  утвердил
  %b
    = @document.approveorgan
  от
  %b
    = @document.approved
%h3
  раздел документооборота:
  %b
    = @document.part

-if @document.bproce
  %h3
    Относится к процессу
    = link_to @document.bproce.name, bproce_path(@document.bproce)
-else
  %h3 Процесс не назначен
%p
%h3
  Ответственный за документ:
  -if @document.responsible?
    = link_to User.find(@document.responsible).displayname, user_path(@document.responsible)
  -else
    %b
      не задан

-#= @document.inspect
%hr
-if @document.directive.count > 0
  %h4 Документ разработан на основе следующих руководящих документов:
  - @document.directive.each do |directive|
    = link_to directive.shortname, directive_path(directive)
    %br

%h3 Место хранения
%li
  оригинал:
  %b
    = link_to @document.place, documents_path + '?place=' + @document.place



%li
  электронный документ:
  -if !@document.eplace.nil?
    -if !@document.eplace.empty?
      %b
        = File.dirname(@document.eplace[(@document.eplace.index("_1_Норма")-1)..-1].gsub(/%20/, ' ')) + '/'  # заменим %20 на пробел
        %br
        = File.basename(@document.eplace).gsub(/%20/, ' ')  # заменим %20 на пробел
      %br
        =link_to 'Смотреть', document_path(@document)+'.pdf'

%p
-if can? :update, Document
  .button
    = link_to 'Edit', edit_document_path(@document)
.button
  -#= link_to 'Back', documents_path
  = link_to 'Back', :back