%h2
  = @document.name 

%h3 Описание
= @document.description

-if @document.bproce
  %h3
    Относится к процессу
    = link_to @document.bproce.name, bproce_path(@document.bproce)
-else
  %h3 Процесс не назначен
%p
= @document.inspect
%hr
= @document.filename
= @document.status_id
= @document.part
= @document.approved
= @document.approveorgan
= @document.dlevel
%hr
%h3
  Место хранения оригинала:
  = @document.place
%h3
  Электронного документ:
  = @document.eplace

%p
-if can? :update, Document
  .button
    = link_to 'Edit', edit_document_path(@document)
.button
  = link_to 'Back', documents_path