-title "Внутренний документ банка"
%h2= @document.name 
%h3 Описание:
= @document.description
%h3
  -if @document.status
    ='"' + @document.status + '"'
  -if @document.approveorgan
    %b= @document.approveorgan
  -if @document.approved
    от
    %b= @document.approved.strftime('%d.%m.%Y')
%h3
  уровень документа:
  %b= link_to @document.dlevel, documents_path + '?dlevel=' + @document.dlevel.to_s
  раздел документооборота:
  %b= link_to @document.part, documents_path + '?part=' + @document.part

-if @document.bproce
  %h3
    Относится к процессу:
    = link_to @document.bproce.name, bproce_path(@document.bproce)
-else
  %h3 Процесс не назначен
%p
%h3
  Ответственный за документ:
  -if @document.owner_id?
    = link_to @document.owner_name, user_path(@document.owner_id)
  -else
    %b
    не задан

-#= @document.inspect
%hr
-if @document.directive.count > 0
  %h4 Документ разработан на основе следующих руководящих документов:
  - @document.directive.each do |directive|
    = link_to directive.shortname, directive_path(directive)
    %br

%h3 Место хранения
%li
  оригинал:
  %b= link_to @document.place, documents_path + '?place=' + @document.place

%li
  электронный документ:
  -if !@document.eplace.nil?
    -if !@document.eplace.empty?
      %b
        -#= File.dirname(@document.file_name) + '/' # выведем путь и имя файла в разных строках
          %br
        = File.basename(@document.file_name)
      %br
        - if can? :view_document, @document
          - if File.exist?("files/" + @document.file_name)
            = link_to 'Смотреть', document_path(@document)+'.pdf'
        - else
          Файл отсутствует!

%p
-if can? :update, Document
  .button= link_to 'Edit', edit_document_path(@document)
.button= link_to 'Back', :back