%p#notice= notice
%b Наименование:
= @document.name
%br
%b Описание:
= @document.description
%br
%b Filename:
= @document.filename
%br
%b Place:
= @document.place
%p
= link_to 'Edit', edit_document_path(@document)
\|
= link_to 'Back', documents_path
