<%= form_for(@workplace) do |f| %>
  <% if @workplace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workplace.errors.count, "error") %> prohibited this workplace from being saved:</h2>

      <ul>
      <% @workplace.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :designation %><br />
    <%= f.text_field :designation %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :typical %><br />
    <%= f.check_box :typical %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
