= simple_form_for(@workplace) do |f|
  = f.error_notification
  = f.input :designation
  = f.input :name
  = f.input :switch
  = f.input :port
  = f.input :description, :as => :text
  = f.input :typical
  = f.input :location
  = f.error :base
  = f.button :submit
%p
-# не показывать для нового рабочего места связанные с ним объекты - их еще нет
-if @workplace.id?
  %table
    %tr
      %th Это Рабочее место участвует в Процессах:
      %th
    -@workplace.bproce_workplaces.each do |wp|  # все процессы данного рабочего места
      %tr
        %td
          = link_to wp.bproce.name, bproce_path(wp.bproce_id)
        %td
          = link_to image_tag('action_stop.gif', :alt => 'Удалить'), wp, data: { confirm: "Действительно хотите исключить [" + @workplace.name + "] из процесса:\n" + wp.bproce.name + "?" }, :method => 'delete', class: 'button-img'

-if @bproce_workplace
  = simple_form_for(@bproce_workplace) do |ff|
    = ff.error_notification
    = ff.association :bproce, :collection => Bproce.order('name'), :label => 'Процесс', :prompt => 'Выберите процесс, где используется Рабочее место'
    = ff.hidden_field :workplace_id
    = ff.error :base
    = ff.button :submit, 'Связать с процессом'
-#=debug params
-#  =debug @bproce
