= form_for(@workplace) do |f|
  -if @workplace.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bproce.errors.count, "error")} prohibited from being saved:"
      %ul
        -@workplace.errors.full_messages.each do |msg|
          %li = msg

  .fieldset
    .field
      = f.label :designation
      = f.text_field :designation
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :description
      = f.text_field :description
    .field
      = f.label :typical
      = f.collection_select :id, Workplace.all(:order => "designation"), :id, :designation, :include_blank => true
      = f.check_box :typical
    .field
      = f.label :location
      = f.text_field :location
  .actions
    = f.submit
  %p
  -# не показывать для нового рабочего места связанные с ним объекты - их еще нет
  -if @workplace.id?
    %table
      %tr
        %th Это Рабочее место участвует в Процессах:
        %th
      -#-@workplace.bproce_workplaces.each do |wp|
        %tr
          %td
            = link_to wp.bproce.name, edit_bproce_path(wp.bproce_id)
          %td
            = link_to 'Destroy', wp, :confirm => 'Are you sure?', :method => :delete

= form_for(@bproce_workplace) do |ff|
  .fieldset
    .field
    -#= ff.label :bproce_id
    = ff.collection_select :bproce_id, Bproce.all(:order => "name"), :id, :name, :include_blank => true
    .field
      = ff.text_field :workplace_id, :hidden=>true
  .action
    = ff.submit


