%h1Рабочее место:
= render 'form'
%p
%h2 Исполнители:
- @workplace.user_workplace.each do |user_workplace|
  = link_to user_workplace.user.displayname, user_workplace.user
  (
  = user_workplace.date_from
  = user_workplace.date_to
  )
%p
- if user_signed_in?
  - if current_user.workplaces.count < 2	# если у пользователя нет рабочего места
    = link_to 'Я нахожусь на этом рабочем месте!', new_user_workplace_path 

%p
= link_to 'Back', workplaces_path
