%h1Рабочее место:
= render 'form'
%p
%h2 Исполнители:
- @workplace.user_workplace.each do |user_workplace|
  = link_to user_workplace.user.displayname, user_workplace.user
  (
  = user_workplace.date_from
  = user_workplace.date_to
  )
%p
= simple_form_for(@user_workplace) do |uw|
  = uw.error_notification
  = uw.hidden_field :workplace_id
  
  = uw.input :user_name, data: {autocomplete_source: autocomplete_users_path}, :as => :autocomplete, :label => 'Исполнитель', :prompt => 'Исполнитель на рабочем месте'
  
  = uw.input :date_from, :as => :date,
              :start_year => 1990, :end_year => Date.today.year + 1
  = uw.input :date_to, :as => :date, :required => false, 
              :start_year => Date.today.year, :end_year => Date.today.year + 1
  = uw.input :note
  = uw.error :base
  -if can? :update, @workplace
    = uw.button :submit, 'Добавить Исполнителя'

%p
- if user_signed_in?
  - if current_user.workplaces.count < 2	# если у пользователя нет рабочего места
    = link_to 'Я нахожусь на этом рабочем месте!', new_user_workplace_path 

%p
.button
  = link_to 'Show', @workplace
.button
  = link_to 'Back', workplaces_path
