-title "Каталог Рабочих мест" 
%h1
  Каталог Рабочих мест
  -if params[:location].present?
    [ 
    = params[:location]
    ]
  -else
    -if params[:search].present?
      [ 
      = params[:search]
      ]

%table
  %tr
    %th= sortable "designation", "Обозначение"
    %th= sortable "name", "Наименование"
    %th= sortable "description", "Описание"
    %th Исполнитель
    %th= sortable "location", "Каб."
    - if can? :destroy, Workplace
      %th
    
  - @workplaces.each do |workplace|
    %tr
      - if can? :modify, workplace
        %td= link_to workplace.designation, edit_workplace_path(workplace)
      - else
        %td= link_to workplace.designation, workplace_path(workplace)
      %td= workplace.name
      %td= workplace.description
      -if workplace.users.first
        %td
          = link_to workplace.users.first.displayname, workplace.users.first
          -if workplace.users.count > 1
            \+
            = workplace.users.count - 1
      -else
        %td
      %td= link_to workplace.location, workplaces_path + '?location=' + workplace.location
      - if can? :destroy, workplace
        %td
          = link_to 'Удалить', workplace, confirm: 'Действительно хотите удалить?', :method => :delete 

-if ! params[:all].present? # если список всех мест - отключить постраничый вывод
  .apple_pagination
    = will_paginate @workplaces 

- if can? :destroy, Workplace
  .button
    = link_to 'Каталог', workplaces_path + '.pdf?all=1'
  .button
    = link_to 'ODT', workplaces_path + '.pdf'
  .button
    -if params[:location].present?
      = link_to 'Добавить Рабочее место', new_workplace_path + '?location=' + params[:location]
    -else
      = link_to 'Добавить Рабочее место', new_workplace_path
