<h1>Listing workplaces</h1>

<table>
  <tr>
    <th>Designation</th>
    <th>Name</th>
    <th>Description</th>
    <th>Typical</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workplaces.each do |workplace| %>
  <tr>
    <td><%= workplace.designation %></td>
    <td><%= workplace.name %></td>
    <td><%= workplace.description %></td>
    <td><%= workplace.typical %></td>
    <td><%= workplace.location %></td>
    <td><%= link_to 'Show', workplace %></td>
    <td><%= link_to 'Edit', edit_workplace_path(workplace) %></td>
    <td><%= link_to 'Destroy', workplace, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workplace', new_workplace_path %>
