-title 'Рабочее место ' + @workplace.designation if @workplace
-search "РабочееМесто" 
%section.hero.is-primary
  .hero-body
    .columns
      .column
        %h2.title
          Рабочее место: [#{@workplace.designation}]
      .column.is-1
        %h2.title
          \##{@workplace.id}
    %h2.subtitle
      = simple_format(@workplace.description, {}, {})
      %p.notice= notice
%section
  .container
    .content
      - if can? :manage, Workplace
        %h3
          -unless @workplace.switch.blank?
            = link_to @workplace.switch, workplaces_path + '?switch=' + @workplace.switch.to_s, class: 'groups'
            \:
            = @workplace.port

      - if @workplace.typical
        Типовое рабочее место
        = @workplace.name
      %h3
        Местоположение:
        = link_to @workplace.location, workplaces_path + '?location=' + @workplace.location, class: 'groups'

      -if @workplace.bproce_workplaces.any?
        %h2
          Участвует в процессах
        -@workplace.bproce_workplaces.each do |wp|
          -if can? :update, wp
            = link_to wp.bproce.name, edit_bproce_path(wp.bproce_id)
          -else
            = link_to wp.bproce.name, bproce_workplace_path(wp.bproce_id)

      %h4
        Сотрудники:
        - @workplace.user_workplace.each do |user_workplace|
          = link_to user_workplace.user.displayname, user_workplace.user
          - date_from = user_workplace.date_from.strftime("%d.%m.%y") if user_workplace.date_from
          - date_to = user_workplace.date_to.strftime("%d.%m.%y") if user_workplace.date_to
          = "(#{date_from} - #{date_to}) [#{user_workplace.note}] "
          &nbsp;

.container
  .columns
    .column
      %a.button.is-primary{ href: :back } Back
      - if can? :update, Workplace
        %a.button.is-primary{ href: edit_workplace_path(@workplace) } Edit
    - if can? :update, @workplace
      .column
        #create_user
          %a.button.is-info.is-outlined{ href: create_user_workplace_path(@workplace), "data-remote": true } Добавить Сотрудника

    .column
      .info_
        создано
        = @workplace.created_at&.strftime('%d.%m.%Y %H:%M:%S')
        %br
        изменено
        = @workplace.updated_at&.strftime('%d.%m.%Y %H:%M:%S')
