%h2
  [
  %b
    = @workplace.designation
  ]:
  = @workplace.name
%h3 Описание
= @workplace.description
- if @workplace.typical
  Типовое рабочее место
%h3
  Местоположение:
  = link_to @workplace.location, workplaces_path + '?location=' + @workplace.location

-if @workplace.bproce_workplaces.count > 0
  %h2
    Участвует в процессах
  -@workplace.bproce_workplaces.each do |wp|
    -if can? :update, wp
      = link_to wp.bproce.name, edit_bproce_path(wp.bproce_id)
    -else
      = link_to wp.bproce.name, bproce_path(wp.bproce_id)

-if @workplace.user_workplace.count > 0
  %h2 Исполнители:
  - @workplace.user_workplace.each do |user_workplace|
    = link_to user_workplace.user.displayname, user_workplace.user
    (
    = user_workplace.date_from
    \-
    = user_workplace.date_to
    )

%p
- if can? :update, Workplace
  .button
    = link_to 'Edit', edit_workplace_path(@bapp) |

.button
  = link_to 'Back', workplaces_path