%p
%h3 Исполнители:
- @letter.user_letter.each do |user_letter|
  &nbsp;
  = link_to user_letter.user.displayname, user_letter.user
  -if user_letter.status and user_letter.status > 0
    \- отв.
  = link_to image_tag('action_stop.gif', :alt => 'Удалить'), user_letter, data: { confirm: "Удалить исполнителя " + user_letter.user.displayname + "\nиз ответственых за № #{@letter.number} от #{@letter.date.strftime("%d.%m.%Y")} ?" }, :method => 'delete', class: 'button-img'
  &nbsp;

-if true or can? :update, @letter
  = simple_form_for (@user_letter) do |user_letter|
    = user_letter.error_notification
    = user_letter.hidden_field :letter_id
    = user_letter.label 'Исполнитель'
    = user_letter.autocomplete_field :user_name, autocomplete_users_path
    = user_letter.input :status, as: :boolean
    = user_letter.button :submit, 'Добавить Исполнителя'

