- title "#{@letter.identify}"
- search 'Письмо'
.id_{onclick: "copyToClipboard('#{@letter.identify}')"} ##{@letter.id}

= render 'form'
= render 'user' if @letter.user_letter.first
= render 'appendixes'

%p
= link_to 'Show', @letter, class: 'button'
= link_to 'Back', letter_path, class: 'button'
