-title "Письмо № #{@letter.number} от #{@letter.date.strftime("%d.%m.%Y")}"
-search 'Письмо'
.id_
  \#
  =@letter.id

-if !@letter.regnumber.blank?
  %h3 Регистрация № #{@letter.regnumber} от #{@letter.regdate.strftime("%d.%m.%Y")} 

%h2
  Письмо № #{@letter.number} от 
  = link_to @letter.date.strftime("%d.%m.%Y"), letters_path(date: @letter.date.strftime("%d.%m.%Y"))

%h3
  %b [ #{@letter.subject} ]

%h3
  Корреспондент:
  = link_to @letter.sender, letters_path(addresse: @letter.sender)

%h3 Краткое содержание (о чем):
= simple_format(@letter.body, {}, {})

%h3 Источник: #{@letter.source}
%h3 
  Срок исполнения:
  -if @letter.duedate
    = @letter.duedate.strftime("%d.%m.%Y")

%h4 Файлы приложений к письму:
-@letter.letter_appendix.each do |letter_appendix|
  - if File.exist?(letter_appendix.appendix.path)  # есть исходный файл документа
    -#= link_to image_tag('action_go.gif', :alt => 'См.', title: 'Смотреть' ), @document.pdf_url, class: 'button-img'
    = link_to image_tag('ico_text.gif', alt: 'См.', title: 'Загрузить'), letter_appendix.appendix.url #, class: 'button-img'
    = link_to letter_appendix.name, letter_appendix.appendix.url
  - else
    = letter_appendix.name
  = ' ("' + letter_appendix.appendix_file_name + '": ' + letter_appendix.appendix_updated_at.strftime('%d.%m.%Y %H:%M:%S') + ' ' + letter_appendix.appendix_file_size.to_s + ")"
  %br
- if true or can? :update, @letter
  #appendix_update
    = link_to 'Добавить файл приложения', appendix_create_letter_path(@letter), :remote => true

%hr
%h2 Отметки банка

%h3 
  Автор:
  = link_to @letter.author.displayname, user_path(@letter.author.id) if @letter.author_id?

%h3 
  Исполнители:
  - is_can_update = false
  - @letter.user_letter.each do |user_letter|
    &nbsp;
    = link_to user_letter.user.displayname, user_letter.user
    -if user_letter.status and user_letter.status > 0
      \- отв.
    &nbsp;
    - is_can_update = true if user_letter.user.id = current_user.id  # исполнители могут добавлять других исполнителей
- if @letter.author
  - is_can_update = true if letter.author.id = current_user.id  # автор может добавлять других исполнителей

- if can? :update, @letter or is_can_update  # автор и исполнители могут добавлять других исполнителей
  #create_user
    = link_to 'Добавить Исполнителя', create_user_letter_path(@letter), remote: true

%h3
  Статус:
  %b= LETTER_STATUS.key(@letter.status)
%h3 Результат исполнения:
= simple_format(@letter.result, {}, {})

-if @requirements
  - @requirements.each do |requirement|
    %h4
      Требование [
      = link_to requirement.label, requirement
      ]
      от #{requirement.date.strftime("%d.%m.%Y")}
  -#= @letter.letter

.info_
  -activity1 = PublicActivity::Activity.where(trackable_type: "Letter", trackable_id: @letter.id).order("created_at asc").first
  -if activity1
    = link_to 'создал', activities_path(type: "Letter", id: @letter.id)
    = activity1.updated_at.strftime('%d.%m.%Y %H:%M:%S')
    = activity1.owner.displayname.to_s
  -else
    создан
    = @letter.created_at.strftime('%d.%m.%Y %H:%M:%S')
  %br
  -activity2 = PublicActivity::Activity.where(trackable_type: "Letter", trackable_id: @letter.id).order("created_at asc").last
  -if activity2
    = link_to 'изменил', activities_path(type: "Letter", id: @letter.id)
    = activity2.updated_at.strftime('%d.%m.%Y %H:%M:%S')
    = activity2.owner.displayname.to_s
  -else
    изменен
    = @letter.updated_at.strftime('%d.%m.%Y %H:%M:%S')

%p
= link_to 'Back', letters_path, :class => 'button'

-if true or can? :update, @letter
  = link_to 'Edit', edit_letter_path(@letter), :class => 'button'
  = link_to 'Clone', clone_letter_path(@letter), :class => 'button'
  = link_to 'Создать Требование', create_requirement_letter_path(@letter), :class => 'button'
  = link_to 'Создать Исходящее', clone_letter_path(@letter), :class => 'button'
