-title "Роли процесса " + @bp.shortname
.id_
  \#
  = @bp.id
%h2
  [
  =@bp.shortname
  ]
  = link_to @bp.name, bproce_path(@bp)
%b
  Цель:
-if @bp.goal.blank?
  не задана
-else
  = @bp.goal
%p
%h3 Роли процесса:
%table
  %tr
    %th Роль
    %th Действия исполнителя в процессе
    %th Исполнитель

  -@business_roles.each do |ro|
    %tr
      %td= link_to ro.name, business_role_path(ro)
      %td= ro.description
      -if ro.users.first
        %td
          = link_to ro.users.first.displayname, ro.users.first
          -if ro.users.count > 1
            +
            = ro.users.count - 1
      -else
        %td
-if can? :update, @bp
  = link_to 'Распоряжение', bproce_path(@bp) + '/order', class: :button
  = link_to "Добавить новую роль в процесс" , new_bproce_business_role_path(@bp), :class => 'button'
%p
-if !@bp.description.blank?
  %br
  %b Краткое описание:
  = @bp.description

