%h1 Listing document_directives

%table
  %tr
    %th Documents
    %th Directives
    %th Note
    %th
    %th
    %th

  - @document_directives.each do |document_directive|
    %tr
      %td= link_to document_directive.document.shortname, document_path(document_directive.document)
      %td= link_to document_directive.directive.shortname, directive_path(document_directive.directive)
      %td= document_directive.id
      %td= document_directive.note
      %td= link_to 'Show', document_directive
      %td= link_to 'Edit', edit_document_directive_path(document_directive)
      %td= link_to 'Destroy', document_directive, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Document directive', new_document_directive_path
