%p#notice= notice

= @document_directive.inspect

%p
  %b Document:
  = @document_directive.document.shortname
%p
  %b Directive:
  -#= @document_directive.directive.shortname
%p
  %b Note:
  = @document_directive.note

= link_to 'Edit', edit_document_directive_path(@document_directive)
\|
= link_to 'Back', document_directives_path
