-title "Документ " + truncate(@document_directive.document.name, length: 30)
-search 'Документ'

= render 'show'

%h3 Примечание:
=@document_directive.note

.info_
  создан
  = @document_directive.created_at.strftime('%d.%m.%Y %H:%M:%S')
  %br
  изменен
  = @document_directive.updated_at.strftime('%d.%m.%Y %H:%M:%S')

%p
-if can? :update, Document
  = link_to 'Edit', edit_document_directive_path(@document_directive), :class => 'button'
= link_to 'Back', :back, :class => 'button'