- if @bproce.bapps.empty?
  %h3
    В процессе пока не используются
    =link_to "Приложения", bapps_path
- else
  %h3
    В процессе используются
    =link_to 'Приложения:', bproce_bapp_path(@bproce)
  -@bproce.bproce_bapps.each do | bpba |  #  список приложений процесса
    -if bpba.bapp
      = link_to bpba.bapp.name, bapp_path(bpba.bapp)
      = link_to image_tag('action_stop.gif', :alt => 'Удалить'), bpba, confirm: "Действительно хотите исключить [" + bpba.bapp.name + "] из процесса:\n" + @bproce.name + "?", :method => 'delete'
    -else
      = bpba.inspect


= simple_form_for(@bproce_bapp) do | bproce_bapp |
  = bproce_bapp.error_notification
  = bproce_bapp.hidden_field :bproce_id
  = bproce_bapp.input :bapp_name, data: {autocomplete_source: autocomplete_bapps_path}, :as => :autocomplete, :label => 'Приложение', :prompt => 'Приложение'
  = bproce_bapp.input :apurpose
  = bproce_bapp.error :base
  -if can? :update, @bproce
    = bproce_bapp.button :submit