%tr
  %td
    = '—' * bproce.depth + "[ #{bproce.shortname} ]" if bproce.depth
    - if bproce.checked_at
      = "\u2713".html_safe
    = link_to bproce.name, bproce_path(bproce)
    .id_show_
      = "##{bproce.id}"
    -# if can? :manage_tag, bproce
      %sup= bproce.tag_list
    - if !params[:user].present? && bproce.user
      = ' ... '
      %small= link_to bproce.user.displayname, user_path(bproce.user)
  - if can? :modify, bproce
    %td
      = link_to image_tag('page_edit.gif', alt: 'Изменить'),
                edit_bproce_path(bproce),
                class: 'button-img'
  - if can? :destroy, bproce
    %td
      - unless Bproce.where(parent_id: bproce.id).first
        = link_to image_tag('action_stop.gif', alt: 'Удалить'),
                  bproce,
                  data: { confirm: "Процесс \" #{bproce.name} \"\nДействительно хотите удалить?" },
                  method: 'delete',
                  class: 'button-img'
