= form_for(@bproce) do |f|
  -if @bproce.errors.any?
    #error_explanation
      %h2 "#{pluralize(@bproce.errors.count, "error")} prohibited from being saved:"
      %ul
        -@bproce.errors.full_messages.each do |msg|
          %li= msg

  .fieldset
    .field
      = f.label :shortname
      = f.text_field :shortname
    .field
      = f.label :name
      .text
      = f.text_field :name, :size => "50"
    .field
      = f.label :fullname
      .text
      = f.text_area :fullname
    .field
      = f.label :goal
      .text
      = f.text_area :goal
    -#if @bproce.new_record?
    .field
      = f.label :parent_id
      .text
      = f.select :parent_id, nested_set_options(Bproce, @bproce) {|i| "#{'-' * i.level} #{i.name}" }
  -#= select_tag 'parent_id', options_for_select(nested_set_options(Bproce) {|i| "#{'-' * i.level} #{i.name}" } )
  %p
  -# не показывать для нового процесса связанные с ним объекты - их еще нет
  -if @bproce.id?
    %table
      %tr
        %th В процессе участвуют Роли:
        %th Процесс описывают Документы:
      %tr
        %td
          -@bproce.roles.find_with_associations.each do |role|
            = link_to role.name, edit_role_path(role)
            %br
        %td
          -@bproce.documents.find_with_associations.each do |doc|
            = link_to doc.name, edit_document_path(doc)
            %br
    %table
      %tr
        %th В процессе используются Приложения:
        %th В процессе участвуют Рабочие Места:
      %tr
        %td
          -@bproce.bapps.each do |ba|
            = link_to ba.name, edit_bapp_path(ba)
            %br
        %td
          -@bproce.bapps.each do |ba|
            = link_to ba.name, edit_bapp_path(ba)
            %br

  %p
  .actions
    = f.submit 
