= simple_form_for(@bproce) do |f|
  = f.error_notification
  = f.input :shortname
  = f.input :name
  = f.input :fullname
  = f.input :goal
  -#if @bproce.new_record?
    .field
      = f.label :parent_id
      .text
      = f.select :parent_id, nested_set_options(Bproce, @bproce) {|i| "#{'-' * i.level} #{i.name}" }
  -#= select_tag 'parent_id', options_for_select(nested_set_options(Bproce) {|i| "#{'-' * i.level} #{i.name}" } )
  = f.error :base
  = f.button :submit
  %p
  -# не показывать для нового процесса связанные с ним объекты - их еще нет
  -if @bproce.id?
    %table
      %tr
        %th В процессе участвуют Роли:
        %th Процесс описывают Документы:
      %tr
        %td
          -@bproce.roles.find_with_associations.each do |role|
            = link_to role.name, edit_role_path(role)
            %br
        %td
          -@bproce.documents.find_with_associations.each do |doc|
            = link_to doc.name, edit_document_path(doc)
            %br
    %table
      %tr
        %th В процессе используются Приложения:
        %th В процессе участвуют Рабочие Места:
      %tr
        %td
          -@bproce.bapps.each do |ba|
            = link_to ba.name, edit_bapp_path(ba)
            %br
        %td
          -@bproce.workplaces.each do |wp|
            = link_to wp.designation, edit_workplace_path(wp)
            %br

