-title 'Процесс ' + @bproce.shortname
-search "Процесс"
.id_
  \#
  = @bproce.id
%h2 Изменить процесс 
= render partial: 'parent', locals: { parent_id: @bproce.parent.id, parent_name: @bproce.parent.name }
= render 'form'
%p
= render 'business_roles'
-#= render 'documents'
= render 'bapps'
= render 'workplaces'
= render 'iresources'

= link_to 'Show', @bproce, class: 'button'
= link_to 'Back', bproces_path, class: 'button'
