-title "Каталог Процессов"
%h1
  Каталог Процессов 
  -if params[:search].present?
    [ 
    = params[:search]
    ]
  -else
    -if params[:tag].present?
      = ':' + params[:tag].to_s
-if @bproces.count > 0
  -#%ol.tree= just_tree @bproces
  -#= sortable_tree @bproces
  %ol.sortable_tree{ :data => { max_levels: 0, :rebuild_url => rebuild_bproces_url } }
    = sortable_tree @bproces
%p
- if can? :create, @bproces.first
  = link_to 'Каталог', bproces_path+'.pdf?all=1', :class => 'button'
  = link_to 'ODT', bproces_path+'.pdf', :class => 'button'
  = link_to "Добавить новый процесс" , new_bproce_path, :class => 'button'

%p
  = tag_cloud(Bproce.tag_counts, %w(s m link_to)) do |tag, css_class|
    = raw link_to tag.name, tag_path(tag.name), class: css_class