-title "Каталог Процессов"
%h1
  Каталог Процессов 
  -if params[:search].present?
    [ 
    = params[:search]
    ]

%table
  %tr
    %th= sortable "shortname", "Обозначение"
    %th= sortable "name", "Наименование"
    -#%th= sortable "fullname", "Полное наименование"
    - if can? :destroy, Bproce
      %th
      %th= 'Tree.debug'

  -@bproces.each do |bproce|
    %tr
      %td
        = "——" * (bproce.depth) + bproce.shortname
        -#= link_to "-" * (bproce.depth) + bproce.shortname, edit_bproce_path(bproce)
      
      %td= link_to bproce.name, bproce_path(bproce)
      
      -#%td= bproce.fullname
      -#%td= link_to 'Show', bproce
      - if can? :destroy, bproce
        %td
          = link_to image_tag('action_stop.gif', :alt => 'Удалить'), bproce, confirm: 'Процесс ' + bproce.name + "\nДействительно хотите удалить?", :method => 'delete'
        %td
          = bproce.lft
          = ' - '         
          = bproce.rgt
          = ' : '
          = bproce.depth

-if !params[:all].present?
  .apple_pagination
    = will_paginate @bproces 

- if can? :create, @bproces.first
  .button
    = link_to 'Каталог', bproces_path(@document)+'.pdf?all=1'
  .button
    = link_to 'ODT', bproces_path(@document)+'.pdf'
  .button
    = link_to "Добавить новый процесс" , new_bproce_path
