-title "Каталог Процессов"
%h1 Каталог Процессов 

-#= form_for(@bproce) do |f|
  = f.select :parent_id, nested_set_options(Bproce, @bproce) {|i| "#{'-' * i.level} #{i.name}" }
  = select_tag 'parent_id', options_for_select(nested_set_options(Bproce) {|i| "#{'-' * i.level} #{i.name}" } )

%table
  %tr
    %th= sortable "shortname", "Обозначение"
    %th= sortable "name", "Наименование"
    %th= sortable "fullname", "Полное наименование"
    %th= 'Tree.debug'
    %th

  -@bproces.each do |bproce|
    %tr
      %td
        = link_to "—" * (bproce.depth) + bproce.shortname, edit_bproce_path(bproce)
        -#= link_to "-" * (bproce.depth) + bproce.shortname, edit_bproce_path(bproce)
      %td= bproce.name
      %td= bproce.fullname
      -#%td= link_to 'Show', bproce
      %td
        = bproce.lft
        = ' - '         
        = bproce.rgt
        = ' : '
        = bproce.depth
      %td
        = link_to 'Destroy', bproce, :confirm => 'Are you sure?', :method => :delete

.apple_pagination
  -#.page_info
    -#    = page_entries_info @brpoces
  = will_paginate @bproces 

= link_to "Добавить новый процесс" , new_bproce_path
