-title "Каталог Процессов"
-search "Процесс"
%h1
  Каталог Процессов 
  -if params[:search].present?
    [ #{params[:search]} ]
  -else
    -if params[:tag].present?
      %sup
        = params[:tag]
    -else
      -if params[:user].present?
        владелец
        = link_to @user.displayname, user_path(@user)
%table
  %tr
    %th
      = "[Обозначение] Наименование процесса"
      -if !params[:user].present?
        %small ... Владелец
    - if can? :modify, Bproce
      %th
    - if can? :destroy, Bproce
      %th

  = render partial: 'bproces/bproce', collection: @bproces, cached: true

%p
- if can? :create, @bproces.first
  = link_to 'Каталог', bproces_path+'.pdf?all=1', :class => 'button'
  - format = '.pdf'
  - format << '?' + request.query_string if request.query_string
  = link_to 'Список', bproces_path + format, :class => 'button'
  = link_to "Добавить новый процесс" , new_bproce_path, :class => 'button'
%p
Теги:
= raw Bproce.all_tags.map { |t| link_to t.name, tag_bproces_path(t.name), class: 'tags' }.join('&nbsp; ')
