-title "Каталог Процессов"
-search "Процесс"
%section.hero.is-primary
  .hero-body
    .container
      %h1.title
        Каталог Процессов 
        -if params[:search].present?
          [ #{params[:search]} ]
        -elsif params[:tag].present?
          %sup
            = params[:tag]
        -elsif params[:user].present?
          владелец
          = link_to @user.displayname, user_path(@user)
      %h2.subtitle
        %p.notice= notice
.container
  %table.table.is-hoverable.is-fullwidth
    %thead
      %tr
        %th
          = "[Обозначение] Наименование процесса"
          -if !params[:user].present?
            %small ... Владелец
        - if can? :modify, Bproce
          %th
        - if can? :destroy, Bproce
          %th

        = render partial: 'bproces/bproce', collection: @bproces, cached: true
.container
  .columns
    .column
      - if can? :create, Bproce
        %a.button.is-info{ href: bproces_path+'.pdf?all=1' } Каталог
        - format = '.pdf'
        - format << '?' + request.query_string if request.query_string
        %a.button.is-info{ href: bproces_path + format } Список
.container
  Теги:
  = raw Bproce.all_tags.map { |t| link_to t.name, tag_bproces_path(t.name), class: 'tags' }.join('&nbsp; ')
