%h3
  [
  = @bproce.shortname
  ]
%h2
  %b
    Название:
  = @bproce.name
-if @bproce.parent_id
  %h3
    Родительский процесс:
    = link_to @bproce.parent.name, bproce_path(@bproce.parent_id)
%h3 Подпроцессы:
- Bproce.where("lft>? and rgt<?", @bproce.lft, @bproce.rgt).order("lft").each do |bp|
  = "——" * (bp.depth - @bproce.depth)
  = bp.depth
  = link_to bp.name, bproce_path(bp)
  %br
%h3
  %b
    Полное наименование:
  = @bproce.fullname
%h4
  %b
    Цель:
  = @bproce.goal
%h3
  Владелец процесса:
  -if @bproce.user_id?
    = link_to User.find(@bproce.user_id).displayname, user_path(@bproce.user_id)
  -else
    %b
      не задан

%hr
- if @bproce.business_roles.count > 0
  %h4
    В процессе участвуют
    = link_to 'Роли:', bproce_business_role_path(@bproce)
  - @bproce.business_roles.each do |business_role|
    = link_to business_role.name, business_role_path(business_role)

-if @bproce.documents.count > 0
  %h4
    Процесс описывают
    =link_to 'Документы:', bproce_document_path(@bproce)
  -@bproce.documents.each do |doc|
    = link_to doc.name, document_path(doc)
    = ' ' + doc.approved.to_s

-if @bproce.workplaces.count > 0
  %h4
    В процессе участвуют
    =link_to 'Рабочие Места:', bproce_workplace_path(@bproce)
  -@bproce.workplaces.each do |wp|
    = link_to wp.designation, workplace_path(wp)

- if !@bproce.bapps.empty?
  %h4
    В процессе используются
    =link_to 'Приложения:', bproce_bapp_path(@bproce)
  -@bproce.bapps.each do |ba|
    = link_to ba.name, bapp_path(ba)

%p
-if can? :update, @bproce
  .button
    = link_to 'Edit', edit_bproce_path(@bproce) |
.button
  = link_to 'Back', bproces_path
