-title 'Процесс ' + @bproce.shortname
%h2
  [
  %b
    = @bproce.shortname
  ]:
  = @bproce.name
-if @bproce.parent_id
  %h3
    Родительский процесс:
    = link_to @bproce.parent.name, bproce_path(@bproce.parent_id)
%h3 Подпроцессы:
- Bproce.where("lft>? and rgt<?", @bproce.lft, @bproce.rgt).order("lft").each do |bp|
  = "——" * (bp.depth - @bproce.depth)
  -#= bp.depth
  - if bp.shortname
    [
    =bp.shortname
    ]
  = link_to bp.name, bproce_path(bp)
  %br
%h3
  %b
    Полное наименование:
  = @bproce.fullname
%h4
  %b
    Цель:
  -if @bproce.goal.blank?
    не задана
  -else
    = @bproce.goal
-if !@bproce.description.blank?
  %h4 Краткое описание:
  = @bproce.description
%h3
  Владелец процесса:
  -if @bproce.user_id?
    = link_to User.find(@bproce.user_id).displayname, user_path(@bproce.user_id)
  -else
    %b
      не задан
Теги процесса:
= raw @bproce.tag_list.map { |t| link_to t, tag_path(t), class: 'tags' }.join('&nbsp; ')

%hr
- if @bproce.business_roles.count > 0
  %h4
    В процессе участвуют
    = link_to 'Роли:', bproce_business_role_path(@bproce)
  - @bproce.business_roles.order(:name).each do |business_role|
    = link_to business_role.name, business_role_path(business_role)

-if @bproce.documents.count > 0
  %h4
    Процесс описывают
    =link_to 'Документы:', bproce_document_path(@bproce)
  -@bproce.documents.order(:name).each do |doc|
    = link_to doc.name, document_path(doc)
    -if doc.approved
      = ' ' + doc.approved.strftime('%d.%m.%Y')
    -#= ' ' + doc.owner.displayname

-if @bproce.workplaces.count > 0
  %h4
    В процессе участвуют
    =link_to 'Рабочие Места:', bproce_workplace_path(@bproce)
  -@bproce.workplaces.order(:name).each do |wp|
    = link_to wp.designation, workplace_path(wp)

- if @bproce.bapps.count > 0
  %h4
    В процессе используются
    =link_to 'Приложения:', bproce_path(@bproce) + '/bapps'
  -@bproce.bapps.order(:name).each do |ba|
    = link_to ba.name, bapp_path(ba)

-if @bproce.iresource.count > 0
  %h4
    В процессе используются Ресурсы:
  -@bproce.iresource.order(:label).each do |iresource|
    = link_to iresource.label, iresource_path(iresource)

%p
-if can? :update, @bproce
  = link_to 'Edit', edit_bproce_path(@bproce), :class => 'button'
= link_to 'Back', bproces_path, :class => 'button'
-if can? :update, @bproce
  = link_to 'Карточка', bproce_path(@bproce) + '/card', :class => 'button'
  = link_to 'Описание', bproce_path(@bproce) + '/doc', :class => 'button'
