%p.notice =notice
%bОбозначение:
= @bproce.shortname
%p
%b Название:
= @bproce.name
%p
%b Полное наименование:
= @bproce.fullname

%p
= link_to 'Edit', edit_bproce_path(@bproce) |
= link_to 'Back', bproces_path
