= form_for(@role) do |f|
  -if @role.errors.any?
    #error_explanation
      %h2 "#{pluralize(@role.errors.count, "error")} prohibited from being saved:"
      %ul
        -@role.errors.full_messages.each do |msg|
          %li= msg

  .fieldset
    .field
      = f.label :name
      .text
        = f.text_field :name
    .field
      = f.label :description
      .text
        = f.text_area :description
    .field
      = f.label :bproce
      = f.collection_select :id, Bproce.all(:order => "name"), :id, :shortname, :include_blank => true

  .actions
    = f.submit
