= form_for(@role) do |f|
  -if @role.errors.any?
    %h2 "#{pluralize(@role.errors.count, "error")} prohibited from being saved:"
    #error_explanation
      %ul
        -@role.errors.full_messages.each do |msg|
          %li= msg

  .fieldset
    .field
      = f.label :name
      .text
        = f.text_field :name
    .field
      = f.label :description
      .text
        = f.text_area :description
    .field
      = f.label :bproce_id
      .text
        = f.collection_select :bproce_id, Bproce.all(:order => "name"), :id, :name, :include_blank => true
  %p
  .actions
    = f.submit
