= simple_form_for(@role) do |f|
  = f.error_notification
  = f.input :name
  = f.input :description, :as => :text
  = f.association :bproce, :label => 'Участвует в процессе'
  = f.error :base
  = f.button :submit
