-title "Каталог Ролей"
%h1 Каталог Ролей

%table
  %tr
    %th= sortable "name", "Роль"
    %th= sortable "bproce_id", "Процесс"
    %th= sortable "description", "Назначение"
    %th
    %th
  

  -@roles.each do |ro|
    %tr
      %td= link_to ro.name, edit_role_path(ro)
      %td
        = link_to ro.bproce.name, edit_bproce_path(ro.bproce_id) if !ro.bproce.nil?
      %td= ro.description
      %td= link_to 'Show', ro
      %td
        = link_to 'Destroy', ro, :confirm => 'Are you sure?', :method => :delete
.apple_pagination
  -#.page_info
    -#    = page_entries_info @roles
  = will_paginate @roles 

= link_to "Добавить новую роль" , new_role_path
