-title "Каталог Ролей"
%h1 Каталог Ролей

%table
  %tr
    %th= sortable "name", "Роль"
    %th= sortable "bproce_id", "Процесс"
    %th= sortable "description", "Назначение"
    %th
    %th
  

  -@roles.each do |role|
    %tr
      %td= link_to role.name, edit_role_path(role)
      %td= link_to role.bproce.name, edit_bproce_path(role.bproce) if role.bproce_id?
      %td= role.description
      %td= link_to 'Show', role
      %td
        = link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete
.apple_pagination
  -#.page_info
    -#    = page_entries_info @roles
  = will_paginate @roles 

= link_to "Добавить новую роль" , new_role_path
