-title "Роли доступа" 
%h1
  Роли доступа
  -if params[:search].present?
    [ 
    = params[:search]
    ]

%table
  %tr
    %th= sortable "id", "#"
    %th= sortable "name", "Наименование"
    %th= sortable "description", "Описание"
    %th
    - if can? :destroy, Role
      %th

  - @roles.each do |role|
    %tr
      %td= role.id
      %td= link_to role.name, role
      %td= role.description
      - if can? :destroy, role
        %td
          = link_to image_tag('action_stop.gif', :alt => 'Удалить'), term, confirm: 'Роль доступа ' + term.name + "\nДействительно хотите удалить?", :method => 'delete', class: 'button-img'

-if ! params[:all].present? # если список всех терминов - отключить постраничый вывод
  .apple_pagination
    = will_paginate @roles 

- if can? :manage, Role
  -#= link_to 'Каталог', terms_path + '.pdf?all=1', :class => 'button'
  = link_to 'Добавить Роль доступа', new_role_path, :class => 'button'
