<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @role.name %>
</p>

<p>
  <b>Note:</b>
  <%= @role.note %>
</p>

<p>
  <b>B proc:</b>
  <%= @role.b_proc %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
