= simple_form_for(@user_business_role) do |ubr|
  = ubr.error_notification
  = ubr.hidden_field :business_role_id
  #autocomplete
    = ubr.input :user_name, data: {autocomplete_source: autocomplete_users_path}, :as => :autocomplete, :label => 'Исполнитель', :prompt => 'Исполнитель в процессе'

  -#= ubr.association :user, :collection => User.all(:order => 'displayname'), :include_blank => true, :prompt => 'Исполнитель в процессе', :label_method => :displayname, :label => 'Исполнитель'
  = ubr.input :date_from, :as => :date,
              :start_year => 2010, :end_year => Date.today.year + 1
  = ubr.input :date_to, :as => :date, :required => false, 
              :start_year => Date.today.year, :end_year => Date.today.year + 1
  = ubr.input :note
  = ubr.error :base
  -if can? :update, @business_role
    = ubr.button :submit