%table
  %tr
    %th Роль
    %th
    %th с
    %th по
    %th Процесс
  - if @user_business_roles.nil?
    - $ubr = @user_business_roles
  - else
    - @ubr = current_user.user_business_roles
  - @ubr.each do |business_role|
    %tr
      %td= link_to business_role.business_role.name, edit_business_role_path(business_role.business_role)
      %td= business_role.note
      %td= business_role.date_from
      %td= business_role.date_to
      %td= link_to Bproce.find(business_role.business_role_id).shortname, bproce_path(business_role.business_role_id)
