%p#notice= notice

%p
  %b Cat table:
  = @category.cat_table
%p
  %b Cat type:
  = @category.cat_type
%p
  %b Cat name:
  = @category.cat_name
%p
  %b Sortorder:
  = @category.sortorder

= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
