!!! 5
%html{ lang: 'ru' }
  %head
    %title
      BP1Step: #{yield (:title) || "Business Process 1st Step"}
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = favicon_link_tag 'favicon.ico'
    -#= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png'
    = stylesheet_link_tag    "application"
    = yield :css
    = javascript_include_tag "application"
    -#- if params[:controller] == 'metrics'  # and params[:controller] == 'bproces'
      -#= javascript_include_tag "//www.google.com/jsapi", "chartkick"
    -#= javascript_include_tag "jsapi", "chartkick"
    = yield :js

    = csrf_meta_tag
    = yield(:head)
  %body
    / START NAV
    %nav.navbar.is-fixed-top.is-light
      .container
        .navbar-brand
          %a.navbar-item{href: '/'}
            = image_tag("logo.png", alt: 'Home', heigh: 50)
          %span.navbar-burger.burger{:onclick => "document.querySelector('.navbar-menu').classList.toggle('is-active');"}
            %span
            %span
            %span
        #navbarMenu.navbar-menu
          .navbar-start
            .navbar-item.has-dropdown.is-hoverable
              %a.navbar-link
                Процессы
              .navbar-dropdown
                %a.navbar-item{href: bproces_path}Прооцессы
                - if user_signed_in?
                  -if can? :crud, Metric
                    %a.navbar-item{href: metrics_path + '?sort=name'}Метрики
                %hr.navbar-divider/
                %a.navbar-item{ href: business_roles_path } Роли
                %a.navbar-item{ href: workplaces_path } Рабочие места
                %a.navbar-item{ href: bapps_path } Приложения
                %a.navbar-item{ href: iresources_path } Информационные ресурсы
            .navbar-item.has-dropdown.is-hoverable
              %a.navbar-link
                Документы
              .navbar-dropdown
                %a.navbar-item{ href: documents_path } Документы
                %a.navbar-item{ href: directives_path } Директивы
                %a.navbar-item{ href: terms_path } Термины
                - if user_signed_in?
                  -if can? :show, Contract
                    %hr.navbar-divider/
                    %a.navbar-item{ href: contracts_path } Договоры
                    %a.navbar-item{ href: agents_path } Контрагенты
            -if user_signed_in?
              .navbar-item.has-dropdown.is-hoverable
                %a.navbar-link
                  Действия
                .navbar-dropdown
                  %a.navbar-item{ href: letters_path } Письма Входящие
                  %a.navbar-item{ href: letters_path(out: 2) } Письма Исходящие
                  %hr.navbar-divider/
                  %a.navbar-item{ href: tasks_path } Задачи
                  %a.navbar-item{ href: requirements_path } Требования
            %a.navbar-item
              %a.navbar-item{ href: '/users' } Сотрудники
            %a.navbar-item
              %a.navbar-item{ href: '/about' } ?

            - unless ['page', 'activities', 'bproce_business_roles'].include? params[:controller]
              .navbar-end
                .navbar-item
                  %form.inline{:method => "get"}
                    .field.has-addons.is-expanded
                      .control
                        %input.input.is-expanded{:name => "search", :type => "search", id: "search", :value => params[:search], :placeholder => "искать #{yield (:search)}", "data-autocomplete" => "/#{params[:controller]}/autocomplete"}
                        -# %input#business_role_bproce_name{"data-autocomplete" => "/bproces/autocomplete", "data-no-matches-label" => "333", :id_elements => "#bproce_workplace_bproce_id", :name => "business_role[bproce_name]", :placeholder => "подстрока в наименовании", :type => "text", :value => "Управление финансами"}/
                      -# %p.control
                        %a.button.is-static
                          @gmail.com

          .navbar-end
            - if user_signed_in?
              .navbar-item.has-dropdown.is-hoverable
                %a.navbar-link
                  = current_user.user_name
                .navbar-dropdown
                  %a.navbar-item{href: "/users/#{current_user.id}"} К исполнению
                  %a.navbar-item Профиль
                  %hr.navbar-divider/
                  %a.navbar-item{href: "#{create_letter_home_path(current_user)}" } Официальное письмо
                  %a.navbar-item
                    = current_user.last_sign_in_at&.strftime('%d.%m.%y %H:%M:%S')
                  %hr.navbar-divider/
                  .navbar-item
                    = link_to "Выйти", destroy_user_session_path, method: :delete
            - else
              %a.navbar-item
                %p.control
                  %a.button.is-primary{ href: '/users/sign_in' }
                    %span.icon
                      %i.fas.fa-sign-in
                    %span Войти
      / END NAV

    %section
      .container
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = yield

    %footer.footer
      .container
        .columns
          .column
            &copy; 
            = link_to 'BP1Step', '/'
            2012-2018
          .column.is-one-fifth
            rev.
            = "#{Git::REVISION}"[0..6]
            - if user_signed_in?
              - if can? :assign_roles, User
                .right
                  = link_to 'Monit', root_url(port: 2812, only_path: false)
    %script{:defer => "defer", :src => "https://use.fontawesome.com/releases/v5.0.7/js/all.js"}
