!!!
%html
  %head{:lang => "ru"}
    %title
      BP1Step: #{yield (:title) || "Business Process 1st Step"}
    %meta{:charset => "utf-8"}/
    = favicon_link_tag
    -#= stylesheet_link_tag 'blueprint/print', :media => "print"
    -#= stylesheet_link_tag 'blueprint/screen'
    -#= stylesheet_link_tag 'pagination'
    -#= stylesheet_link_tag 'simple_form'
    -#= stylesheet_link_tag 'style'
    -#= stylesheet_link_tag 'autocomplete'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = yield :css
    = yield :js

    = csrf_meta_tag
    = yield(:head)
  %body
    .container
      #header.span-24.last
        %logo.span-7
          =link_to image_tag("logo.png", :alt => "Home"), '/', class: 'button-img'
          %logo_text
            %span Бизнес-процессы - первый шаг
        #search.span-8
          -if params[:controller] == 'pages' or params[:controller] == 'activities'
            &nbsp;
          -else
            %form.inline{:method => "get"}
              %input{:name => "search", :type => "search", :value => params[:search], :placeholder => "искать"}
            %sup введите подстроку поиска с учетом регистра
        #users.span-9.last
          - if user_signed_in?
            = link_to current_user.displayname, user_path(current_user)
            %small (#{current_user.last_sign_in_at.to_s(:ru_datetime)})
            %br=link_to "Выйти", destroy_user_session_path
          - else
            = link_to "Войти", new_user_session_path
        #menu.span-24.last
          %ul.nav
            =nav_link "Процессы", bproces_path
            =nav_link "Роли", business_roles_path
            =nav_link "Места", workplaces_path
            =nav_link "Приложения", bapps_path
            =nav_link "Ресурсы", iresources_path
            =nav_link "Документы", documents_path
            =nav_link "Директивы", directives_path
            =nav_link 'Термины', terms_path
            =nav_link "Сотрудники", users_path
          %ul.nav{:style => "float:right"}
            -#%li Настройки
            = nav_link "?", '/about'
      #main.span-24.last
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = yield
      %hr
      #footer.span-24.last
        %p
          &copy;
          %a{:href => "/"} BP1Step
          2012-2013