!!!
%html
  %head{:lang => "ru"}
    %title
      BP1Step: #{yield (:title) || "Business Process 1st Step"}
    %meta{:charset => "utf-8"}/
    = favicon_link_tag
    -#= stylesheet_link_tag 'blueprint/print', :media => "print"
    -#= stylesheet_link_tag 'blueprint/screen'
    -#= stylesheet_link_tag 'pagination'
    -#= stylesheet_link_tag 'simple_form'
    -#= stylesheet_link_tag 'style'
    -#= stylesheet_link_tag 'autocomplete'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"

    = csrf_meta_tag
    = yield(:head)
  %body
    .container
      #header.span-24.last
        %logo.span-7
          =image_tag "logo.png", :alt => "Home"
          %logo_text
            %span Бизнес-процессы - первый шаг
        #search.span-8
          %form.inline{:method => "get"}
            %input{:name => "search", :type => "search", :value => params[:search], :placeholder => "искать"}
          %sup введите подстроку поиска с учетом регистра
        #users.span-9.last
          - if user_signed_in?
            = link_to current_user.displayname, user_path(current_user)
            %small (#{current_user.last_sign_in_at.to_s(:ru_datetime)})
            %br=link_to "Выйти", destroy_user_session_path
          - else
            = link_to "Войти", new_user_session_path
        #menu.span-24.last
          %ul.nav
            %li= link_to "Процессы", bproces_path
            %li= link_to "Роли", business_roles_path
            %li= link_to "Места", workplaces_path
            %li= link_to "Приложения", bapps_path
            %li= link_to "Документы", documents_path
            %li= link_to "Директивы", directives_path
            %li= link_to "Сотрудники", users_path
          %ul.nav{:style => "float:right"}
            %li Настройки
            %li= link_to "Справка", '/about'
      %hr
      #main.span-24.last
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = yield
      %hr
      #footer.span-24.last
        %p
          &copy;
          %a{:href => "/"} BP1Step
          2012-2013